{
 "Configuration Settings":
 [
   {
    "Name": [ "Cost Function" ],
    "Type": "std::function<void(korali::Sample&)>",
    "Description": "Stores the function that represents the policy cost."
   },
   {
    "Name": [ "Policy Constraints" ],
    "Type": "std::vector<std::function<void(korali::Sample&)>>",
    "Description": "Collection of constraints to discard unwanted policies."
   }
 ],

 "Results":
 [
   {
    "Name": [ "Optimal Policy" ],
    "Type": "std::vector<std::vector<std::vector<double>>>",
    "Description": "Contains the optimal policy.",
    "Produced By": [ "RecursiveDiscretizer" ]
   },
   {
    "Name": [ "Policy Evaluation" ],
    "Type": "std::vector<double>",
    "Description": "Contains the cost evaluation for the optimal policy.",
    "Produced By": [ "RecursiveDiscretizer" ]
   }
 ],
 
 
 "Compatible Solvers": [ "RecursiveDiscretizer" ],
   
 "Available Operations":
 [
  {
   "Name": "Evaluate Cost Function" ,
   "Function": "evaluateCostFunction",
   "Description": "Evaluates the cost function given the parameters for the current level."
  },
  {
   "Name": "Evaluate Constraints" ,
   "Function": "evaluateConstraints",
   "Description": "Evaluates the specified constraints given a policy."
  }
 ]


}
