{
 "Configuration Settings":
 [
   {
    "Name": [ "Beta1" ],
    "Type": "double",
    "Description": "Beta for momentum update"
   },
   {
    "Name": [ "Beta2" ],
    "Type": "double",
    "Description": "Beta for gradient update"
   },
   {
    "Name": [ "Eta" ],
    "Type": "double",
    "Description": "Learning Rate"
   },
   {
    "Name": [ "Epsilon" ],
    "Type": "double",
    "Description": "Smoothing Term"
   }
 ],

 "Termination Criteria":
 [
    {
    "Name": [ "Min Gradient Norm" ],
    "Type": "double",
    "Criteria": "(_k->_currentGeneration > 1) && (_gradientNorm <= _minGradientNorm)",
    "Description": "Specifies the minimal norm for the gradient of function with respect to Parameters."
   },
   {
    "Name": [ "Max Gradient Norm" ],
    "Type": "double",
    "Criteria": "(_k->_currentGeneration > 1) && (_gradientNorm >= _maxGradientNorm)",
    "Description": "Specifies the minimal norm for the gradient of function with respect to Parameters."
   }
 ],

 "Variables Configuration":
 [
 ],

 "Internal Settings":
 [
   {
     "Name": [ "Current Value" ],
     "Type": "std::vector<double>",
     "Description": "Current value of parameters."
   },
   {
     "Name": [ "Current Evaluation" ],
     "Type": "double",
     "Description": "Function evaluation for the current parameters."
   },
   {
     "Name": [ "Best Evaluation" ],
     "Type": "double",
     "Description": "Smaller function evaluation"
   },
   {
     "Name": [ "Gradient" ],
     "Type": "std::vector<double>",
     "Description": "Gradient of Function with respect to Parameters."
   },
   {
     "Name": [ "Squared Gradient" ],
     "Type": "std::vector<double>",
     "Description": "Square of gradient of function with respect to Parameters."
   },
   {
     "Name": [ "Gradient Norm" ],
     "Type": "double",
     "Description": "Norm of gradient of function with respect to Parameters."
   },
   {
     "Name": [ "First Moment" ],
     "Type": "std::vector<double>",
     "Description": "Estimate of first moment of Gradient."
   },
   {
     "Name": [ "Bias Corrected First Moment" ],
     "Type": "std::vector<double>",
     "Description": "Bias corrected estimate of first moment of Gradient."
   },
   {
     "Name": [ "Second Moment" ],
     "Type": "std::vector<double>",
     "Description": "Old estimate of second moment of Gradient."
   },
   {
     "Name": [ "Bias Corrected Second Moment" ],
     "Type": "std::vector<double>",
     "Description": "Bias corrected estimate of second moment of Gradient."
   }
 ],
 
 "Module Defaults":
 {
  "Beta1": 0.9,
  "Beta2": 0.999,
  "Eta": 0.001,
  "Epsilon": 1e-8,
  
  "Termination Criteria":
  {
     "Min Gradient Norm": 1e-5,
     "Max Gradient Norm": 1e5
  }
 }
}
