{
 "Configuration Settings":
 [
 
 ],

 "Termination Criteria":
 [
 
 ],

 "Variables Configuration":
 [
   {
    "Name": [ "Initial Value" ],
    "Type": "double",
    "Description": "Defines the initial value at or around which the algorithm shall start looking for an optimum."
   }
 ],

 "Internal Settings":
 [
 ],
 
 "Variable Defaults":
 {
  "Initial Value": -Infinity
 },
 
 "Module Defaults":
 {
  
  "Termination Criteria":
  {
  }
  
 }
}
