{
 "Configuration Settings":
 [
 
 ],

 "Termination Criteria":
 [
 
 ],
 
 "Results":
 [
   {
    "Name": [ "Best F(x)" ],
    "Type": "double",
    "Description": "Optimal value of F(x) found so far."
   },
   {
    "Name": [ "Best Parameters" ],
    "Type": "std::vector<double>",
    "Description": "Value for the x parameters that produced the best F(x)."
   }
 ],

 "Variables Configuration":
 [
  {
   "Name": [ "Lower Bound" ],
   "Type": "double",
   "Description": "[Hint] Lower bound for the variable's value."
  },
  {
   "Name": [ "Upper Bound" ],
   "Type": "double",
   "Description": "[Hint] Upper bound for the variable's value."
  },
  {
    "Name": [ "Initial Value" ],
    "Type": "double",
    "Description": "[Hint] Initial value at or around which the algorithm shall start looking for an optimum."
  },
  {
    "Name": [ "Initial Mean" ],
    "Type": "double",
    "Description": "[Hint] Initial mean for the proposal distribution. This value must be defined between the variable's Mininum and Maximum settings (by default, this value is given by the center of the variable domain)."
  },
  {
    "Name": [ "Initial Standard Deviation" ],
    "Type": "double",
    "Description": "[Hint] Initial standard deviation of the proposal distribution for a variable (by default, this value is given by 30% of the variable domain width)."
  },
  {
    "Name": [ "Minimum Standard Deviation Update" ],
    "Type": "double",
    "Description": "[Hint] Lower bound for the standard deviation updates of the proposal distribution for a variable. Korali increases the scaling factor sigma if this value is undershot."
  },
  {
    "Name": [ "Values" ],
    "Type": "std::vector<double>",
    "Description": "[Hint] Locations to evaluate the Objective Function."
  }
  
 ],

 "Internal Settings":
 [
 ],
 
 "Variable Defaults":
 {
  "Lower Bound": -Infinity,
  "Upper Bound": Infinity,
  "Initial Value": NaN,
  "Initial Mean": NaN,
  "Initial Standard Deviation": NaN,
  "Minimum Standard Deviation Update": 0.0,
  "Values": [ ] 
 
 },
 
 "Module Defaults":
 {
  
  "Termination Criteria":
  {
  }
  
 }
}
