{
 "Configuration Settings": 
 [
   {
    "Name": [ "Burn In" ],
    "Type": "int",
    "Description": "Specifies the number of preliminary MCMC steps before samples are being drawn. This may reduce effects from improper initialization."
   },
   {
    "Name": [ "Leap" ],
    "Type": "int",
    "Description": "Generates a Markov Chain containing samples from every 'Leap'-th step. This will increase the overall Chain Length by a factor of 'Leap'."
   },
   {
    "Name": [ "Rejection Levels" ],
    "Type": "int",
    "Description": "Controls the number of accept-reject stages per MCMC step (by default, this value is set 1, for values greater 1 the delajed rejection algorithm is active."
   },
   {
    "Name": [ "Use Adaptive Sampling" ],
    "Type": "bool",
    "Description": "Specifies if covariance matrix of the proposal distribution is calculated from the samples."
   },
   {
    "Name": [ "Non Adaption Period" ],
    "Type": "int",
    "Description": "Number of steps (after Burn In steps) during which the initial covariance is used instead of the Chain Covariance. If 0 (default) is specified, this value is calibrated as $5%$ of the Max Chain Length (only relevant for Adaptive Sampling)."
   },
   {
    "Name": [ "Chain Covariance Scaling" ],
    "Type": "double",
    "Description": "Learning rate of the Chain Covariance (only relevant for Adaptive Sampling)."
   }
 ],
 
 "Termination Criteria":
 [
   {
    "Name": [ "Max Samples" ],
    "Type": "size_t",
    "Criteria": "_databaseEntryCount >= _maxSamples",
    "Description": "Number of Samples to Generate."
   }   
 ]
 ,
 "Variables Configuration": 
 [
   {
    "Name": [ "Initial Mean" ],
    "Type": "double",
    "Description": "Specifies the Initial Mean of the proposal distribution."
   },
   {
    "Name": [ "Initial Standard Deviation" ],
    "Type": "double",
    "Description": "Specifies the Standard Deviation for each variable. The proposal distribution is defined through a covariance matrix with the variance of the variables in its diagonal."
   }
 ],
 
 "Internal Settings": 
 [
   {
    "Name": [ "Normal Generator" ],
    "Type": "korali::distribution::univariate::Normal*",
    "Description": "Normal random number generator."
   },
   {
    "Name": [ "Uniform Generator" ],
    "Type": "korali::distribution::univariate::Uniform*",
    "Description": "Uniform random number generator."
   },
   {
    "Name": [ "Cholesky Decomposition Covariance" ],
    "Type": "std::vector<double>",
    "Description": "Cholesky Decomposition of Covariance for sampling (using a lower triangular matrix, with rest zeros)."
   },
   {
    "Name": [ "Cholesky Decomposition Chain Covariance" ],
    "Type": "std::vector<double>",
    "Description": "Chain Cholesky Decomposition of Covariance for sampling (using a lower triangular matrix, with rest zeros)."
   },
   {
    "Name": [ "Chain Leader" ],
    "Type": "std::vector<double>",
    "Description": "Variables of the newest sample in the Markov chain."
   },
   {
    "Name": [ "Chain Leader Evaluation" ],
    "Type": "double",
    "Description": "The logLikelihood of the newest sample in the Markov chain."
   },
   {
    "Name": [ "Chain Candidate" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Candidate variables to be accepted or rejected after comparison with the Chain Leader."
   },
   {
    "Name": [ "Chain Candidates Evaluations" ],
    "Type": "std::vector<double>",
    "Description": "The loglikelihoods of the Chain Candidate Parameters."
   },
   {
    "Name": [ "Rejection Alphas" ],
    "Type": "std::vector<double>",
    "Description": "Placeholder for recursive calculation of delayed rejection schemes."
   },
   {
    "Name": [ "Acceptance Rate" ],
    "Type": "double",
    "Description": "Ratio proposed to accepted samples (including Burn In period)."
   },
   {
    "Name": [ "Acceptance Count" ],
    "Type": "size_t",
    "Description": "Number of accepted samples (including Burn In period)."
   },
   {
    "Name": [ "Proposed Sample Count" ],
    "Type": "size_t",
    "Description": "Number of proposed samples."
   },
   {
    "Name": [ "Database Entry Count" ],
    "Type": "size_t",
    "Description": "Number of samples stored in the database after Burn In steps."
   },
   {
    "Name": [ "Sample Database" ],
    "Type": "std::vector<double>",
    "Description": "Parameters generated by MCMC and stored in the database."
   },
   {
    "Name": [ "Sample Evaluation Database" ],
    "Type": "std::vector<double>",
    "Description": "Evaluation associated with the parameters stored in the database."
   },
   {
    "Name": [ "Chain Mean" ],
    "Type": "std::vector<double>",
    "Description": "Mean of Markov Chain calculated from samples in Database."
   },
   {
    "Name": [ "Chain Covariance Placeholder" ],
    "Type": "std::vector<double>",
    "Description": "Placeholder for chain covariance calculation."
   },
   {
    "Name": [ "Chain Covariance" ],
    "Type": "std::vector<double>",
    "Description": "Chain Covariance calculated from samples in Database."
   },
   {
    "Name": [ "Chain Length" ],
    "Type": "size_t",
    "Description": "Current Chain Length (including Burn In and Leaped Samples)."
   }
 ],
 
  "Module Defaults":
  {
   "Burn In":  0,
   "Leap": 1,
   "Rejection Levels": 1,
   "Use Adaptive Sampling": false, 
   "Non Adaption Period": 0, 
   "Chain Covariance Scaling": 1.0, 
   
   "Termination Criteria":
   {
      "Max Samples": 5000
   },
   
   "Uniform Generator":
    {
     "Type": "Univariate/Uniform",
     "Minimum": 0.0,
     "Maximum": 1.0
    },
    
   "Normal Generator":
    {
     "Type": "Univariate/Normal",
     "Mean": 0.0,
     "Standard Deviation": 1.0
    }
  }
}
