.center {
    display: block;
    margin: 0 auto;
}

h1 {
  text-align: center;
  font-weight: bold !important;
  color: rgb(35, 127, 188) !important;
}

h2 {
  font-weight: bold !important;
}

h3 {
  font-weight: bold !important;
}

.md-sidebar
{
  font-weight: bold !important;
  color: rgb(35, 127, 188);
  background-image: url("images/korali-back.png");
  background-repeat: no-repeat;
  background-color: rgb(253, 254, 255);
  background-position: 50% 50%;
  visibility: visible !important;
  position: fixed !important;
}

li .md-nav__item{
  font-weight: normal !important;	
}

.md-nav__title {
  #display: none;
  text-align: center;
  font-size: 1.5em !important;
  color: rgb(15, 107, 168);
}

.md-nav--primary .md-nav__title
{
 display: none;
}

