{

 "Configuration Settings":
 [
  {
    "Name": [ "Neural Network" ],
    "Type": "korali::NeuralNetwork*",
    "Description": "Indicates the configuration of the underlying neural networks to use."
  }
 ],

 "Results":
 [
 
 ],
 
 "Termination Criteria":
 [
  {
    "Name": [ "Max Inactive Steps" ],
    "Type": "size_t",
    "Criteria": "_currentInactiveSteps >= _maxInactiveSteps",
    "Description": "The solver will stop when the given number of steps have passed without a decrese in the lowest validation loss."
  }
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
  {
   "Name": [ "Current Validation Loss" ],
   "Type": "double",
   "Description": "Current value of the validation loss."
  },
  {
   "Name": [ "Lowest Validation Loss" ],
   "Type": "double",
   "Description": "Value of the lowest validation loss."
  },
  {
    "Name": [ "Current Inactive Steps" ],
    "Type": "size_t",
    "Description": "current number of steps without a decrese in the lowest validation loss."
  },
  {
    "Name": [ "Training Neural Network" ],
    "Type": "korali::NeuralNetwork*",
    "Description": "The NN to use for training."
  },
  {
    "Name": [ "Validation Neural Network" ],
    "Type": "korali::NeuralNetwork*",
    "Description": "The NN to use for validation."
  },
  {
    "Name": [ "Test Neural Network" ],
    "Type": "korali::NeuralNetwork*",
    "Description": "The NN to use for testing."
  }
 ],

 "Module Defaults":
 {

  "Lowest Validation Loss": Infinity,
  "Neural Network":   { "Type": "Neural Network" },
  "Current Inactive Steps": 0,
  "Termination Criteria": { "Max Inactive Steps": 20 }
 },

 "Variable Defaults":
 {

 }
}
