_korali_result
_result_*
build
.exrc
setup.py
__pycache__
*.conf
*.tar.gz
*.cfg
*.o
*.log
*.so
*.pyc
*.a
*.vim
*.swp
*.swo
*.out
*.txt
*.err
*.mk
*.result
*.orig
.tags
.tags1
.korali.config
.DS_Store/
.DS_Store
*.odg#
