_korali_result
__test*
_result_*
build
.exrc
setup.py
__pycache__
*.conf
*.tar.gz
*.cfg
*.o
*.log
*.so
*.pyc
*.a
*.vim
*.swp
*.swo
*.out
*.txt
*.err
*.mk
*.result
*.orig
.tags
.tags1
.korali.config
.DS_Store/
.DS_Store
*.odg#

## -- added by susanne:
# PyCharm:
.idea/
# VisualStudio Code:
.vscode/
.metadata/
*.cproject
*.externalToolBuilders/ 
*.project/ 
.project/
*.settings/ 
*.d

