[submodule "tutorials/examples"]
	path = tutorials/examples
	url = https://github.com/cselab/korali-apps.git
[submodule "external/Eigen"]
	path = external/Eigen
	url = https://gitlab.com/libeigen/eigen.git
