[submodule "tutorials/examples"]
	path = tutorials/examples
	url = https://github.com/cselab/korali-apps.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/libco"]
	path = external/libco
	url = https://github.com/SergioMartin86/libco.git
