{
 "Configuration Settings":
 [
  {
    "Name": [ "Neural Network" ],
    "Type": "korali::NeuralNetwork*",
    "Description": "Indicates the configuration of the underlying neural networks to use."
  }
 ],
 
 "Results":
 [
 
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
  {
    "Name": [ "Current Initial State" ],
    "Type": "size_t",
    "Description": "Indicates the current initial state being processed."
  }
 ],
 
 "Module Defaults":
 {
  "Neural Network":   { "Type": "Neural Network" }
 },
 
 "Variable Defaults":
 {
 }
}
