{
 "Configuration Settings":
 [
  {
    "Name": [ "Neural Network" ],
    "Type": "korali::NeuralNetwork*",
    "Description": "Indicates the configuration of the underlying neural networks to use."
  }
 ],
 
 "Results":
 [
 
 ],
 
  "Termination Criteria":
 [
  {
    "Name": [ "Max Episodes" ],
    "Type": "size_t",
    "Criteria": "_currentEpisode >= _maxEpisodes",
    "Description": "The solver will stop when the given number of environments have been fully executed."
  }
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
  {
    "Name": [ "Current Episode" ],
    "Type": "size_t",
    "Description": "Indicates the current episode being processed."
  },
  {
    "Name": [ "State History" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Stores the whole history of states."
  },
  {
    "Name": [ "Action History" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Stores the whole history of actions."
  },
  {
    "Name": [ "Reward History" ],
    "Type": "std::vector<double>",
    "Description": "Stores the whole history of rewards."
  }
 ],
 
 "Module Defaults":
 {
  "Neural Network":   { "Type": "Neural Network" },
  "Termination Criteria": { "Max Episodes": 0 }
 },
 
 "Variable Defaults":
 {
 }
}
