{

 "Configuration Settings":
 [
   {
    "Name": [ "Learning Rate" ],
    "Type": "double",
    "Description": "Learning rate for Q-learning algorithm."
   },
   {
    "Name": [ "Discount Factor" ],
    "Type": "double",
    "Description": "Discount Factor for Q-learning algorithm."
   }
 ],

 "Termination Criteria":
 [
  {
    "Name": [ "Convergence Tolerance" ],
    "Type": "double",
    "Criteria": "_convergenceRate < _convergenceTolerance",
    "Description": "The solver will stop when convergence rate falls below this threshold."
  }
 ],

 "Variables Configuration":
 [
 ],
 
 "Internal Settings":
 [
   {
    "Name": [ "Q" ],
    "Type": "std::vector<double>",
    "Description": "Table containing Q values."
   },
   {
    "Name": [ "Action Vector Indexes" ],
    "Type": "std::vector<size_t>",
    "Description": "Stores the indexes of the number of variables that constitute the action vector."
   },
   {
    "Name": [ "State Vector Indexes" ],
    "Type": "std::vector<size_t>",
    "Description": "Stores the indexes of the number of variables that constitute the action vector."
   },
   {
    "Name": [ "Action Count" ],
    "Type": "size_t",
    "Description": "Indicates the number of possible distinct actions."
   },
   {
    "Name": [ "State Count" ],
    "Type": "size_t",
    "Description": "Indicates the number of possible distinct states."
   },
   {
    "Name": [ "Convergence Rate" ],
    "Type": "double",
    "Description": "The rate at which the Q table has changed during this generation."
   },
   {
    "Name": [ "Best Reward" ],
    "Type": "double",
    "Description": "The reward that the best policy so far obtains."
   },
   {
    "Name": [ "Best Policy" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Stores the policy that produced the best reward."
   }
 ],
 
 "Module Defaults":
 {
  "Learning Rate": 0.1,
  "Discount Factor": 0.1,
  
  "Termination Criteria":
  {
   "Convergence Tolerance": 0.01
  },
  
  "Convergence Rate": Infinity,
  "Best Reward": -Infinity
 },
 
 "Variable Defaults":
 {
 }
}
