{
 "Configuration Settings":
 [
   {
    "Name": [ "Utility Function" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Kullback-Leibler", "Description": "Expectation over the posterior of the logarithm of the quotient between posterior and prior." }
               ],
    "Description": "Function to use for utility estimation."
   },
   {
    "Name": [ "Likelihood Model" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Normal", "Description": "The user specifies the standard deviation of the normal likelihood." }
               ],
    "Description": "Specifies the likelihood model to use."
   },
   {
    "Name": [ "Design Parameter Dimensionality" ],
    "Type": "size_t",
    "Description": "Dimension of the design space."
   },
   {
    "Name": [ "Data Dimensionality" ],
    "Type": "size_t",
    "Description": "Dimension of the measurements."
   },
   {
    "Name": [ "Number of Measurements" ],
    "Type": "size_t",
    "Description": "Number of measurements to perform."
   }
 ],

 "Compatible Solvers": [ "Experiment Designer" ],

 "Results":
 [
   {
    "Name": [ "Optimal Experimental Parameters" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Value for the Optimal Design parameters.",
    "Produced By": [ "Experimental Designer" ]
   }
 ],

 "Variables Configuration":
 [
  {
   "Name": [ "Type" ],
   "Type": "std::string",
   "Options": [
               { "Value": "Design Parameters", 
                 "Description": "The variable provides the Nparams possible design parameters in a flattened array. Lenght is Nparams*_designParameterDimensionality" 
               },
               { "Value": "Model Samples", 
                 "Description": "The variable provides the model evaluations for Ntheta samples from the prior distribution. Length is Ntheta*Nparams*Ndata" 
               }
              ],
   "Description": "Indicates if the variable contains the model samples or the design parameters."
  },
  {
   "Name": [ "Values" ],
   "Type": "std::vector<double>",
   "Description": "Contains the values for the variable Type in a flattened array."
  },
  {
   "Name": [ "Correlation" ],
   "Type": "std::string",
   "Options": [
               { "Value": "Exponential", 
                 "Description": "The variables for the design parameters are exponentially correlated" 
               },
               { "Value": "None", 
                 "Description": "The variables for the design parameters are un-correlated" 
               }
              ],
   "Description": "Indicates if the design parameters are uncorrelated."
  },
  {
   "Name": [ "Correlation Strength" ],
   "Type": "double",
   "Description": "Value for the correlation strength."
  },
  {
   "Name": [ "Correlation Length" ],
   "Type": "double",
   "Description": "Value for the correlation length."
  }
 ],

  "Internal Settings":
 [

 ],

 "Module Defaults":
 {
   "Loss Function": "Kullback-Leibler"
 },

 "Variable Defaults":
 {
  "Correlation": "None",
  "Correlation Strength": 1,
  "Correlation Length": 1
 }

}