{

 "Configuration Settings":
 [
   {
    "Name": [ "Integrand" ],
    "Type": "std::function<void(korali::Sample&)>",
    "Description": "Stores the function to integrate."
   },
   {
    "Name": [ "Integration Method" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Rectangle", "Description": "Uses the Rectangle Rule to perform the integral." },
                { "Value": "Trapezoidal", "Description": "Uses the Trapezoidal Rule to perform the integral." },
                { "Value": "Simpson", "Description": "Uses the Simpson Rule to perform the integral." },
                { "Value": "Monte Carlo", "Description": "Uses Monte Carlo Integration to perform the integral." },
                { "Value": "Custom", "Description": "Uses a Rule based on provided weights to perform the integral." }
               ],
    "Description": "Indicates the name of the integration method to use."
   },
   {
    "Name": [ "Number Of Samples" ],
    "Type": "size_t",
    "Description": "Number of samples for Monte Carlo integration."
   }
 ],

 "Variables Configuration":
 [
   {
    "Name": [ "Lower Bound" ],
    "Type": "double",
    "Description": "Lower bound for integration."
   },
   {
    "Name": [ "Upper Bound" ],
    "Type": "double",
    "Description": "Upper bound for integration."
   },
   {
    "Name": [ "Number Of Gridpoints" ],
    "Type": "size_t",
    "Description": "Number of Gridpoints along given axis."
   },
   {
    "Name": [ "Prior Distribution" ],
    "Type": "std::string",
    "Description": "Indicates the name of the distribution to use as prior distribution."
   }, 
   {
    "Name": [ "Distribution Index" ],
    "Type": "size_t",
    "Description": "Stores the the index number of the selected prior distribution."
   },
   {
    "Name": [ "Sample Points" ],
    "Type": "std::vector<double>",
    "Description": "Contains values at which to evaluate the function."
   },
   {
    "Name": [ "Quadrature Weights" ],
    "Type": "std::vector<double>",
    "Description": "Contains quadrature weights to evaluate the integral."
   }
 ],

 "Available Operations":
 [
  {
   "Name": "Execute" ,
   "Function": "execute",
   "Description": "Evaluate the given integrand using a given sample."
  }
 ],

 "Compatible Solvers": [ "Integrator" ],
 
 "Results":
 [
   {
    "Name": [ "Integral" ],
    "Type": "double",
    "Description": "Value of the integral.",
    "Produced By": [ "Integrator" ]
   }
 ],

 "Variable Defaults":
 {
  "Prior Distribution": " ",
  "Distribution Index": -1,
  "Sample Points": [ ],
  "Quadrature Weights": [ ]
 }
}
