{

 "Configuration Settings":
 [
   {
    "Name": [ "Integrand" ],
    "Type": "std::function<void(korali::Sample&)>",
    "Description": "Stores the function to integrate."
   }
 ],

 "Variables Configuration":
 [
   {
    "Name": [ "Precomputed Values" ],
    "Type": "std::vector<double>",
    "Description": "Contains predetermined values to evaluate the function."
   }
 ],

 "Available Operations":
 [
  {
    "Name": "Integrate",
    "Description": "Performs the integral.",
    "Function": "integrate"
  }
 ],

 "Compatible Solvers": [ "Quadrature" ],
 
 "Results":
 [
   {
    "Name": [ "Integral" ],
    "Type": "double",
    "Description": "Value of the integral.",
    "Produced By": [ "Quadrature" ]
   }
 ]
}
