{

 "Configuration Settings":
 [
  {
    "Name": [ "Neural Network" ],
    "Type": "knlohmann::json",
    "Description": "Indicates the configuration of the underlying neural networks to use."
  },
  {
   "Name": [ "Optimizer" ],
   "Type": "knlohmann::json",
   "Description": "Represents the state and configuration of the solver algorithm."
  },
  {
   "Name": [ "Batch Normalization", "Enabled" ],
   "Type": "bool",
   "Description": "Uses batch normalization on all of the layers of the NN to reduce the detrimental effects of divergence in number magnitudes."
  },
  {
   "Name": [ "Steps Per Generation" ],
   "Type": "size_t",
   "Description": "Represents the number of opitmization steps to run per each generation."
  }
 ],

 "Results":
 [
 
 ],
 
 "Termination Criteria":
 [
 
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
  {
   "Name": [ "Current Loss" ],
   "Type": "double",
   "Description": "Current value of the loss function."
  }
 ],

 "Module Defaults":
 {
  "Neural Network":   { "Type": "Neural Network" },
  "Batch Normalization": { "Enabled": false  },
  "Steps Per Generation": 1
 },

 "Variable Defaults":
 {

 }
}
