{
 "Configuration Settings": 
 [
   {
    "Name": [ "Mean Vector" ],
    "Type": "std::vector<double>",
    "Description": "Means of the variables."
   },
   {
    "Name": [ "Covariance Matrix" ],
    "Type": "std::vector<double>",
    "Description": "Covariance Matrix of the multivariate normal."
   }
 ],
 
 "Internal Settings":
 [
   {
    "Name": [ "Work Vector" ],
    "Type": "std::vector<double>",
    "Description": "Auxiliary work vector."
   }
 ],
 
 "Module Defaults":
 {
  "Mean Vector": [ ],
  "Covariance Matrix": [ ]
 }
}
 
