{
 "Configuration Settings":
 [
   {
      "Name": [ "Gaussian Process Json File" ],
      "Type": "std::string",
      "Description": "Json File from training a GP."
   }
 ],
 
 "Variables Configuration":
 [
   {
    "Name": [ "Parameter List" ],
    "Type": "std::vector<double>",
    "Description": "Contains precomputed values for the variables."
   }
 ],
 
  "Available Operations":
 [
  {
   "Name": "Execute" ,
   "Function": "execute",
   "Description": "Executes the given model using the parameters from the given sample."
  }
 ],
 
  "Internal Settings":
 [
   {
     "Name": [ "Gaussian Process Evaluation" ],
     "Type": "std::vector<double>",
     "Description": "Evaluation of GP at 'X Data'."
   },
   {
     "Name": [ "Gaussian Process Variance" ],
     "Type": "std::vector<double>",
     "Description": "Variance of GP at 'X Data'."
   }
]

}
