{
 "Configuration Settings":
 [
   {
    "Name": [ "Number Samples Per Step" ],
    "Default": "10",
    "Type": "int",
    "Description": "The number of latent-variable samples to generate in each E-M iteration. More result in a more precise estimate of Q in each iteration - but Q is a Robbins–Monro 'running average', so there should not be a need for a very large number of samples."
   },

   {
    "Name": [ "Alpha 1" ],
     "Default": "0.6",
    "Type": "double",
    "Description": "The 'decay rate' gamma_k (used in Robbins-Monro averaging) is calculated as 1/(k^alpha). You can set two different alphas, one for the initial phase, one for the later phase. This alpha is for the initial phase."
   },
   {
    "Name": [ "Alpha 2" ],
     "Default": "0.9",
    "Type": "double",
    "Description": "The 'decay rate' gamma_k (used in Robbins-Monro averaging) is calculated as 1/(k^alpha). You can set two different alphas, one for the initial phase, one for the later phase. This alpha is for the later phase. The later-phase alpha should lie in (0.5, 1] to guarantee convergence."
   },
   {
    "Name": [ "Number Initial Steps" ],
     "Default": "100",
    "Type": "int",
    "Description": "After this number of initial steps, the decay rate switches from being defined by Alpha 1 to being defined by Alpha 2."
   },
   {
    "Name": [ "Use Simulated Annealing" ],
     "Default": true,
    "Type": "bool",
    "Description": "If true, 'expand' the sampling distribution by a decaying factor, so that a wider range is sampled in the beginning."
   },
   {
    "Name": [ "Simulated Annealing Decay Factor" ],
     "Default": "0.9",
    "Type": "double",
    "Description": "If simulated annealing is enabled, reduce the 'temperature' by this much at each step."
   }
 ],

 "Termination Criteria":
 [
 ],

 "Variables Configuration":
 [
   {
    "Name": [ "Initial Value" ],
    "Type": "double",
    "Description": "Defines the initial value from which the algorithm will start looking for an optimum."
   }
 ],

 "Internal Settings":
 [
   {
    "Name": [ "Current Hyperparameters Mean" ],
    "Type": "std::vector<double>",
    "Default": "std::vector<double>(0)",
    "Description": "Current values of the 'mean' that is part of the hyperparameters"
   },
   {
    "Name": [ "Current Hyperparameters Covariance" ],
    "Type": "std::vector<std::vector<double>>",
    "Default": "std::vector<std::vector<double>>(0)",
    "Description": "Current values of the covariance matrix that is part of the hyperparameters. An NxN matrix encoded as vector of vectors."
   },
   {
    "Name": [ "Current Cholesky" ],
    "Type": "std::vector<std::vector<double>>",
    "Default": "std::vector<std::vector<double>>(0)",
    "Description": "Current values of the covariance matrix that is part of the hyperparameters. An NxN matrix encoded as vector of vectors."
   },
   {
     "Name": [ "Current Samples" ],
     "Type": "std::vector<std::vector<double>>",
     "Description": "Sampled values of the latent variables in the current iteration. A vector of '_numberSamplesPerStep' vectors with values for all latent variables. (Outer vector iterates over samples, inner vector over different latent variables.)"
   },
   {
     "Name": [ "Current Sample Means" ],
     "Type": "std::vector<double>",
     "Description": "Mean of sampled values of the latent variables in the current iteration. One mean per latent variable."
   },
   {
     "Name": [ "Current Sample Standard Deviations" ],
     "Type": "std::vector<double>",
     "Description": "Standard deviations of sampled values of the latent variables in the current iteration. Standard deviation is per latent variable."
   },
   {
     "Name": [ "Current S 1" ],
     "Type": "std::vector<double>",
     "Description": "Robbins-Monro average of S1, = vector of sums of sampled transformed latent variables. Updated at every step."
   },
   {
     "Name": [ "Current S 2" ],
     "Type": "std::vector<std::vector<double>>",
     "Description": "Robbins-Monro average of S2, = sum of z_i * z_i^T, for each sample of transformed latent variables z_i. Updated at every step."
   },
   {
     "Name": [ "Best Log Likelihood" ],
     "Type": "double",
     "Description": "Stores the highest Log Likelihood for any (current S, hyperparameters) pair so far (after the M step)"
   },
   {
     "Name": [ "Current Log Likelihood" ],
     "Type": "double",
     "Description": "Stores the Log Likelihood for the latest (current S, hyperparameters) pair after the M step"
   },
   {
     "Name": [ "Number Latent" ],
     "Type": "int",
     "Description": "Number of latent variables"
   },
   {
     "Name": ["Latent Space Dimensions"],
     "Type": "int",
     "Description": "Same parameter as the one of HierarchicalLatent, copied for convenience. The dimension of the normal distribution that makes up p(latent | hyperparameters).  Equal to [Latent To Hyperparameter Mapping].size(). Can be seen as the dimension of the latent variables. (Is not equal to the number of latent variables.)"
   },
   {
    "Name": [ "Gamma" ],
    "Type": "double",
    "Description": "The 'decay rate' gamma_k (used in Robbins-Monro averaging) for this generation. It is calculated from one of the two alpha parameters; the first in earlier generations, the second later on."
   },

   {
     "Name": [ "Relative Change Threshold For Monitoring" ],
     "Type": "double",
     "Description": "A threshold for the quantities 'change / previous value'."
   },
   {
     "Name": [ "Number Generations Small Sample Change" ],
     "Type": "int",
     "Description": "Unused. How often the sample means and standard deviations did not change much, in consecutive generations."
   },
   {
     "Name": [ "Number Generations Small Hyperparameter Change" ],
     "Type": "int",
     "Description": "Unused. How often the hyperparamters did not change much, in consecutive generations."
   },
   {
     "Name": [ "Number Generations Small Likelihood Change" ],
     "Type": "int",
     "Description": "How often the hyperparamters did not change much, in consecutive generations."
   }

 ],


 "Module Defaults":
 {
   "Number Samples Per Step" : 10,
   "Alpha 1" : 0.6,
   "Alpha 2" : 0.9,
   "Number Initial Steps": 100,
   "Use Simulated Annealing": false,
   "Simulated Annealing Decay Factor": 0.9,
   "Relative Change Threshold For Monitoring": 0.01,

   "Number Generations Small Likelihood Change": 0
 },

 "Variable Defaults":
 {
 }

}
