{
 "Configuration Settings":
 [
    {
    "Name": [ "Recursion Depth" ],
    "Type": "size_t",
    "Description": "Indicates how many recursion stages should be evaluated."
   }
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
   {
    "Name": [ "Reward Table" ],
    "Type": "std::vector<double>",
    "Description": "Stores the reward of running every action given every state."
   },
   {
    "Name": [ "State Table" ],
    "Type": "std::vector<size_t>",
    "Description": "Stores the resulting state of running every action given every state."
   }
 ],
 
 "Module Defaults":
 {
 
 },
 
 "Variable Defaults":
 {
 
 }
}
