{
 "Configuration Settings":
 [
   {
    "Name": [ "Recursion Depth" ],
    "Type": "size_t",
    "Description": "Indicates how many recursion stages should be evaluated."
   }
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
   {
    "Name": [ "Reward Table" ],
    "Type": "std::vector<double>",
    "Description": "Stores the reward of running every action given every state."
   },
   {
    "Name": [ "Best State Reward Table" ],
    "Type": "std::vector<double>",
    "Description": "Stores the cumulative reward of running every action given every state, for N stages."
   },
   {
    "Name": [ "Best State Action Index Table" ],
    "Type": "std::vector<size_t>",
    "Description": "Stores the action chain that leads to the best reward, given a state."
   },
   {
    "Name": [ "State Table" ],
    "Type": "std::vector<size_t>",
    "Description": "Stores the resulting state of running every action given every state."
   },
   {
    "Name": [ "Table Entry Count" ],
    "Type": "size_t",
    "Description": "Stores the number of entries in the state/action table."
   },
   {
    "Name": [ "Evaluation Count" ],
    "Type": "size_t",
    "Description": "Keeps track of how many entries have been evaluated so far."
   },
   {
    "Name": [ "Current State" ],
    "Type": "std::vector<double>",
    "Description": "For the running phase, it indicates the current state of the agent."
   },
   {
    "Name": [ "Best Policy Actions" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Stores the action history for policy that produced the best reward."
   },
   {
    "Name": [ "Best Policy States" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Stores the state history for policy that produced the best reward."
   },
   {
    "Name": [ "Best Policy Reward" ],
    "Type": "double",
    "Description": "Stores the reward from pursuing the best policy."
   }
 ],
 
 "Termination Criteria":
 [
  {
   "Name": [ "Max Evaluations" ],
   "Type": "size_t",
   "Criteria": "_problem->_operation == \"Training\" && _evaluationCount >= _maxEvaluations",
   "Description": "Defines the maximum number of state/action table entries to evaluate during training (0 = unlimited)."
  },
  {
   "Name": [ "Max Stages" ],
   "Type": "size_t",
   "Criteria": "_problem->_operation == \"Running\" && _k->_currentGeneration > _maxStages",
   "Description": "Defines the maximum number of recurring stages to run table entries to evaluate (0 = unlimited)."
  }
 ],
 
 "Module Defaults":
 {
   "Termination Criteria":
   {
    "Max Evaluations": 0,
    "Max Stages": 0
   }
 },
 
 "Variable Defaults":
 {
 
 }
}
