{
 "Configuration Settings": 
 [
   {
    "Name": [ "Executions Per Generation" ],
    "Type": "size_t",
    "Description": "Specifies the number of model executions per generation. By default this setting is 0, meaning that all executions will be performed in the first generation. For values greater 0, executions will be split into batches and split int generations for intermediate output."
   },
   {
    "Name": [ "Function To Execute" ],
    "Type": "size_t",
    "Description": "Specifies the method of the problem that should be executed."
   },
   {
    "Name": [ "Double Parameters" ],
    "Type": "std::map<std::string, double>",
    "Description": "A map containing all parameters of type double that the function should be evaluated with."
   },
   {
    "Name": [ "Vector Parameters" ],
    "Type": "std::map<std::string, std::vector<double>>",
    "Description": "A map containing all parameters of type std::vector<double> that the function should be evaluated with."
   },
   {
    "Name": [ "Vector of Vectors Parameters" ],
    "Type": "std::map< std::string, std::vector<std::vector<double>> >",
    "Description": "A map containing all parameters of type std::vector<std::vector<double>> that the function should be evaluated with. Keys are the parameter names."
   },
   {
    "Name": [ "Return Parameter Name" ],
    "Type": "std::string",
    "Description": "The key under which the result will be accessible in the sample after function evaluation."
   }

 ],
 
 "Results":
 [
 
 ],
 
  "Internal Settings": 
 [
   {
    "Name": [ "Sample Count" ],
    "Type": "size_t",
    "Description": "Number of samples to execute."
   }
 ],
 
 "Module Defaults":
 {
   "Executions Per Generation": 500000000,
   "Function To Execute": "Execute",
   "Double Parameters": {},
   "Vector Parameters": {},
   "Vector of Vectors Parameters": {}
 }
}
