{
 "Configuration Settings":
 [
   {
    "Name": [ "Constraints" ],
    "Type": "std::vector<std::function<void(korali::Sample&)>>",
    "Default": "std::vector<std::uint64_t>(0)",
    "Description": "Stores constraints to the objective function."
   }
 ],

 "Available Operations":
 [
  {
    "Name": "Evaluate",
    "Description": "Evaluates a sample, given the problem description.",
    "Function": "evaluate"
  },
  {
   "Name": "Evaluate Constraints",
   "Function": "evaluateConstraints", 
   "Description": "Evaluates the feasibility of a sample, given the described constraints."
  }
 ],
 
  "Module Defaults":
 {
  "Constraints": [ ]
 }
}
