{
 "Compatible Solvers": [ "CMAES" ],
 
 "Configuration Settings":
 [
   {
    "Name": [ "Constraints" ],
    "Type": "std::vector<std::function<void(korali::Sample&)>>",
    "Default": "std::vector<std::uint64_t>(0)",
    "Description": "Stores constraints to the objective function."
   }
 ],

 "Results":
 [
   {
    "Name": [ "Best Sample" ],
    "Type": "korali::Sample",
    "Description": "Sample information of the best result, given the constraints.",
    "Produced By": [ "CMAES" ]
   }
 ],
 
 "Available Operations":
 [
  {
   "Name": "Evaluate Constraints",
   "Function": "evaluateConstraints", 
   "Description": "Evaluates the feasibility of a sample, given the described constraints."
  }
 ],
 
  "Module Defaults":
 {
  "Constraints": [ ]
 }
}
