### .config File obtained from Korali### 
 
Experiment 1 {
{
      "custom": {
            "Likelihood Model": ""
      },
      "Rprop": {
            "Delta0": "0",
            "Delta Min": "0",
            "Delta Max": "0",
            "Eta Minus": "0",
            "Eta Plus": "0"
      },
      "Variables": {
            "Variable 1": [
                  {
                        "Name": ""
                  },
                  {
                        "Initial Value": "0"
                  }
            ],
            "Variable 2": [
                  {
                        "Name": ""
                  },
                  {
                        "Initial Value": "0"
                  }
            ]
      }
}