{
   "Random Seed": "0",
   "File Output": {
      "Path": "Desktop",
      "Enabled": "Yes",
      "Frequency": "10",
      "Store Sample Information": "No"
   },
   "Console Output": {
      "Verbosity": "Detailed",
      "Frequency": "0.05"
   },
   "Problem": {
      "Type": "sampling",
      "Probability Function": "Gaussian"
   },
   "Solver": {
      "Type": "Adam",
      "Beta1": "0",
      "Beta2": "1",
      "Eta": "2",
      "Epsilon": "3"
   },
   "Variables": [
      {
         "Name": "var1",
         "Initial Value": "10"
      },
      {
         "Name": "var2",
         "Initial Value": "100"
      }
   ],
   "Distributions": [
      {
         "Name": "distr1",
         "Type": "Gaussian",
         "Maximum": "10",
         "Minimum": "0",
         "Random Seed": "0"
      },
      {
         "Name": "distr2",
         "Type": "Poisson",
         "Maximum": "100",
         "Minimum": "0",
         "Random Seed": "1"
      }
   ]
}