{
   "Random Seed": "",
   "File Output": {
      "Path": "",
      "Enabled": "default",
      "Frequency": "",
      "Store Sample Information": "default"
   },
   "Console Output": {
      "Verbosity": "default",
      "Frequency": ""
   },
   "Problem": {
      "Type": "sampling",
      "Probability Function": ""
   },
   "Solver": {
      "Type": "LMCMAES",
      "Population Size": "",
      "Mu Value": "",
      "Mu Type": "default",
      "Initial Sigma": "0",
      "Sigma Update Rule": "default",
      "Random Number Distribution": "default",
      "Symmetric Sampling": "default",
      "Sigma Cumulation Factor": "0",
      "Damp Factor": "0",
      "Is Sigma Bounded": "default",
      "Cumulative Covariance": "0",
      "Cholesky Matrix Learning Rate": "0",
      "Target Distance Coefficients": "",
      "Target Success Rate": "0",
      "Set Update Interval": "",
      "Subset Size": ""
   },
   "Variables": [
      {
         "Name": "",
         "Initial Mean": "0",
         "Initial Standard Deviation": "0",
         "Minimum Standard Deviation Update": "0",
         "Lower Bound": "0",
         "Upper Bound": "0"
      }
   ],
   "Distributions": [
      {
         "Name": "",
         "Type": "",
         "Maximum": "0",
         "Minimum": "0",
         "Random Seed": "0"
      }
   ]
}