{
   "Random Seed": "0",
   "File Output": {
      "Path": "Tests/gui",
      "Enabled": "Yes",
      "Frequency": "0.05",
      "Store Sample Information": "No"
   },
   "Console Output": {
      "Verbosity": "Minimal",
      "Frequency": "0.00005"
   },
   "Problem": {
      "Type": "sampling",
      "Probability Function": "Gaussian"
   },
   "Solver": {
      "Type": "Adam",
      "Beta1": "10",
      "Beta2": "9",
      "Eta": "1",
      "Epsilon": "2"
   },
   "Variables": [
      {
         "Name": "Var 1",
         "Lower Bound": "0",
         "Upper Bound": "10",
         "Initial Value": "0"
      },
      {
         "Name": "Var 2",
         "Lower Bound": "10",
         "Upper Bound": "20",
         "Initial Value": "10"
      }
   ],
   "Distributions": [
      {
         "Name": "Dist 1",
         "Type": "Poisson",
         "Maximum": "10",
         "Minimum": "0",
         "Random Seed": "1"
      },
      {
         "Name": "Dist 2",
         "Type": "Gaussian",
         "Maximum": "10",
         "Minimum": "5",
         "Random Seed": "0"
      }
   ]
}