{
   "Random Seed": "5",
   "File Output": {
      "Path": "Desktop",
      "Enabled": "Yes",
      "Frequency": "",
      "Store Sample Information": "default"
   },
   "Console Output": {
      "Verbosity": "Detailed",
      "Frequency": "9"
   },
   "Problem": {
      "Type": "reinforcementLearning",
      "Operation": "Running",
      "Environment Function": "",
      "Initial State": ""
   },
   "Solver": {
      "Type": "deepLearner",
      "Neural Network": ""
   },
   "Variables": [
      {
         "Type": "",
         "Parameter Space": "",
         "Lower Bound": "0",
         "Upper Bound": "0",
         "Granularity": "0",
         "Parameter Vector": "",
         "Name": "Var 1"
      },
      {
         "Type": "",
         "Parameter Space": "",
         "Lower Bound": "0",
         "Upper Bound": "0",
         "Granularity": "0",
         "Parameter Vector": "",
         "Name": "Var 2"
      }
   ],
   "Distributions": [
      {
         "Name": "Distr 1",
         "Type": "",
         "Maximum": "0",
         "Minimum": "0",
         "Random Seed": "0"
      },
      {
         "Name": "Distr2",
         "Type": "",
         "Maximum": "0",
         "Minimum": "0",
         "Random Seed": "0"
      }
   ]
}