{
   "reinforcementLearning": {
      "Environment Function": ""
   },
   "TMCMC": {
      "Population Size": "",
      "Max Chain Length": "",
      "Default Burn In": "",
      "Per Generation Burn In": "",
      "Target Coefficient Of Variation": "0",
      "Covariance Scaling": "0",
      "Min Annealing Exponent Update": "0",
      "Max Annealing Exponent Update": "0"
   },
   "Variables": {
      "Variable 1": [
         {
            "Type": "skia"
         },
         {
            "Lower Bound": "1"
         },
         {
            "Upper Bound": "1"
         },
         {
            "Granularity": "1"
         },
         {
            "Name": "1"
         }
      ],
      "Variable 2": [
         {
            "Type": "klk"
         },
         {
            "Lower Bound": "3"
         },
         {
            "Upper Bound": "3"
         },
         {
            "Granularity": "3"
         },
         {
            "Name": "3"
         }
      ]
   }
}