{
   "Random Seed": "",
   "File Output": {
      "Path": "",
      "Enabled": "default",
      "Frequency": "",
      "Store Sample Information": "default"
   },
   "Console Output": {
      "Verbosity": "default",
      "Frequency": ""
   },
   "Problem": {
      "Type": "sampling",
      "Probability Function": "Gaussian"
   },
   "Solver": {
      "Type": "gaussianProcess",
      "Covariance Function": "None",
      "Default Hyperparameter": "3"
   },
   "Variables": [
      {
         "Name": ""
      },
      {
         "Name": ""
      },
      {
         "Name": ""
      }
   ],
   "Distributions": [
      {
         "Name": "",
         "Type": "",
         "Maximum": "0",
         "Minimum": "0",
         "Random Seed": "0"
      },
      {
         "Name": "",
         "Type": "",
         "Maximum": "0",
         "Minimum": "0",
         "Random Seed": "0"
      },
      {
         "Name": "",
         "Type": "",
         "Maximum": "0",
         "Minimum": "0",
         "Random Seed": "0"
      }
   ]
}