{
 "Configuration Settings":
 [
   { 
    "Name": [ "Loss Function" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Mean Squared Error", "Description": "Measures the average of the squares of the errors. That is, the average squared difference between the estimated values and the actual value." }
               ],
    "Description": "Function to use for loss estimation."
   }
 ],

 "Results":
 [
 
 ],
 
 "Available Operations":
 [
 
 ],
 
 "Compatible Solvers": [ "Deep Supervisor" ],
 
 "Variables Configuration":
 [
  { 
    "Name": [ "Type" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Input", "Description": "The variable is an input." },
                { "Value": "Output", "Description": "The variable is an output." }
               ],
    "Description": "Indicates if the variable serves as input or output of the learner module."
   },
   { 
    "Name": [ "Training Data" ],
    "Type": "std::vector<double>",
    "Description": "Provides the training data, a vector of size N, where N is the batch size."
   },
   { 
    "Name": [ "Validation Data" ],
    "Type": "std::vector<double>",
    "Description": "Provides the validation data, a vector of size N, where N is the batch size."
   }
 ],
 
  "Internal Settings":
 [
    {
    "Name": [ "Input Vector Size" ],
    "Type": "size_t",
    "Description": "Stores the number of parameters that make the input space."
   },
   {
    "Name": [ "Output Vector Size" ],
    "Type": "size_t",
    "Description": "Stores the number of parameters that make the output space."
   },
   {
    "Name": [ "Input Vector Indexes" ],
    "Type": "std::vector<size_t>",
    "Description": "Stores the indexes of the number of variables that constitute the input vector."
   },
   {
    "Name": [ "Output Vector Indexes" ],
    "Type": "std::vector<size_t>",
    "Description": "Stores the indexes of the number of variables that constitute the output vector."
   },
   {
    "Name": [ "Is Initialized" ],
    "Type": "bool",
    "Description": "Indicates the problem has already been initialized. If es, it cannot be changed afterward."
   },
   {
    "Name": [ "Training Batch Size" ],
    "Type": "size_t",
    "Description": "Stores the number of entries on the training batch."
   },
   {
    "Name": [ "Validation Batch Size" ],
    "Type": "size_t",
    "Description": "Stores the number of entries on the training batch."
   }
 ],
 
 "Module Defaults":
 {
   "Loss Function": "Mean Squared Error"
 },
 
  "Variable Defaults":
 {
 
 }

}
