{
 "Configuration Settings":
 [
   { 
    "Name": [ "Loss Function" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Mean Squared Error", "Description": "Measures the average of the squares of the errors. That is, the average squared difference between the estimated values and the actual value." }
               ],
    "Description": "Function to use for loss estimation."
   },
   { 
    "Name": [ "Training Set" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Provides the training set, containing N vectors of size K, where K is the number of variables defined."
   },
   { 
    "Name": [ "Forward Set" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Provides the forward set, containing N vectors of size K, where K is the number of input variables."
   }
 ],

 "Results":
 [
 
 ],
 
 "Available Operations":
 [
 
 ],
 
 "Compatible Solvers": [ "Neural Network" ],
 
 "Variables Configuration":
 [
   { 
    "Name": [ "Type" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Input", "Description": "The variable is an input." },
                { "Value": "Output", "Description": "The variable is an output." }
               ],
    "Description": "Indicates if the variable serves as input or output of the learner module."
   }
 ],
 
  "Internal Settings":
 [
 
 ],
 
 "Module Defaults":
 {
  "Forward Set": [ ]
 },
 
  "Variable Defaults":
 {
 
 }

}
