{
 "Configuration Settings":
 [
   {
    "Name": [ "Loss Function" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Mean Squared Error", "Description": "Measures the average of the squares of the errors. That is, the average squared difference between the estimated values and the actual value." }
               ],
    "Description": "Function to use for loss estimation."
   },
   {
    "Name": [ "Training", "Input" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Provides the training data, a vector of size N*M, where N is the batch size and M is the number of variables in each entry."
   },
   {
    "Name": [ "Training", "Solution" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "The actual solution data for the training set."
   },
   {
    "Name": [ "Validation", "Input" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Provides the validation data, a vector of size N*M, where N is the batch size and M is the number of variables in each entry."
   },
   {
    "Name": [ "Validation", "Solution" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "The actual solution data for the validation set."
   }
 ],

 "Compatible Solvers": [ "Learner/Deep Learner", "Learner/Gaussian Process" ],

  "Internal Settings":
 [
   {
    "Name": [ "Input Vector Size" ],
    "Type": "size_t",
    "Description": "Stores the number of parameters that make the input space."
   },
   {
    "Name": [ "Solution Vector Size" ], 
    "Type": "size_t",
    "Description": "Stores the number of parameters that make the solution space."
   },
   {
    "Name": [ "Training Batch Size" ],
    "Type": "size_t",
    "Description": "Stores the number of entries on the training batch."
   },
   {
    "Name": [ "Validation Batch Size" ],
    "Type": "size_t",
    "Description": "Stores the number of entries on the validation batch."
   }
 ],

 "Module Defaults":
 {
   "Loss Function": "Mean Squared Error",
   "Validation" : { "Input": [ ], "Solution": [ ] }
 }

}
