{
 "Compatible Solvers": [ "MCMC", "CMAES", "DEA", "LMCMAES" ],

 "Results":
 [
   {
    "Name": [ "Sample Database" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Collection of samples describing the probability distribution.",
    "Produced By": [ "MCMC" ]
   },
   {
    "Name": [ "Best Sample" ],
    "Type": "korali::Sample*",
    "Description": "Sample parameters that maximizes the probability distribution.",
    "Produced By": [ "CMAES", "DEA", "LMCMAES" ]
   }
 ],
  
 "Configuration Settings":
 [
   {
    "Name": [ "Covariance Function" ],
    "Type": "std::string",
    "Description": "Covariance function for the libgp library."
  }
 ],

 "Internal Settings":
 [
   {
     "Name": [ "Data Size" ],
     "Type": "size_t",
     "Description": "Number of points in the training data set"
   },
   {
     "Name": [ "Data Dimension" ],
     "Type": "size_t",
     "Description": "Dimension of input data points."
   },
   {
     "Name": [ "Parameter Dimension" ],
     "Type": "size_t",
     "Description": "Dimension of the Gaussian Process covariance function."
   }
 ],
 
  "Available Operations":
 [
  {
   "Name": "Evaluate",
   "Description": "Evaluates a sample, given the problem description.",
   "Function": "evaluate"
  },
  {
   "Name": "Check Feasibility",
   "Description": "Determines whether a proposed sample is feasible, given the problem description.",
   "Function": "isSampleFeasible"
  }
 ]
}
