{
 "Configuration Settings":
 [
   {
    "Name": [ "Environment Function" ],
    "Type": "std::function<void(korali::Sample&)>",
    "Description": "Function to initialize and run a new environment."
   }
 ],

 "Available Operations":
 [
  {
    "Name": "Run Environment",
    "Description": "Runs the environment, receives the state and rewards and provides actions.",
    "Function": "runEnvironment"
  }
 ],
 
 "Compatible Solvers": [ "Agent" ],
 
 "Variables Configuration":
 [
   { 
    "Name": [ "Type" ],
    "Type": "std::string",
    "Options": [
                { "Value": "State", "Description": "The variable describes the state vector." },
                { "Value": "Action", "Description": "The variable describes the action vector." }
               ],
    "Description": "Indicates if the variable belongs to the state or action vector."
   }
 ],
 
  "Internal Settings":
 [
   {
    "Name": [ "Action Vector Size" ],
    "Type": "size_t",
    "Description": "Stores the number of parameters that make the action space."
   },
   {
    "Name": [ "State Vector Size" ],
    "Type": "size_t",
    "Description": "Stores the number of parameters that make the state space."
   },
   {
    "Name": [ "Action Vector Indexes" ],
    "Type": "std::vector<size_t>",
    "Description": "Stores the indexes of the number of variables that constitute the action vector."
   },
   {
    "Name": [ "State Vector Indexes" ],
    "Type": "std::vector<size_t>",
    "Description": "Stores the indexes of the number of variables that constitute the action vector."
   }
 ],
 
 "Module Defaults":
 {
 },
 
  "Variable Defaults":
 {
 
 }

}
