{

 "Configuration Settings":
 [
   {
    "Name": [ "Environment Function" ],
    "Type": "std::function<void(korali::Sample&)>",
    "Description": "Function to initialize and run a new environment."
   }
 ],

 "Compatible Solvers": [ "SARSA" ],
 
 "Results":
 [

 ],
 
  "Available Operations":
 [
  {
    "Name": "Initialize Environment",
    "Description": "Initializes a new environment.",
    "Function": "initializeEnvironment"
  },
  {
    "Name": "Perform Action",
    "Description": "Performs an action and returns the new state.",
    "Function": "performAction"
  }
 ],
 
 "Variables Configuration":
 [
    {
    "Name": [ "Type" ],
    "Type": "std::string",
    "Options": [
                { "Value": "State", "Description": "The variable describes the state vector." },
                { "Value": "Action", "Description": "The variable describes the action vector." }
               ],
    "Description": "Indicates if the variable belongs to the state or action vector."
   },
   {
    "Name": [ "Lower Bound" ],
    "Type": "double",
    "Description": "Indicates the lower exploration bound for the variable."
   },
   {
    "Name": [ "Upper Bound" ],
    "Type": "double",
    "Description": "Indicates the upper exploration bound for the variable."
   },
   {
    "Name": [ "Granularity" ],
    "Type": "double",
    "Description": "Indicates the granularity of the variable (0.0 for continuous; > 0.0, for discrete)."
   }
 ],
 
 "Internal Settings":
 [
 ],
 
 "Module Defaults":
 {
 },
 
 "Variable Defaults":
 {
   "Granularity": 0.0
 }
}
