{
 "Configuration Settings":
 [
   {
    "Name": [ "Sub Experiments" ],
    "Type": "std::vector<korali::Experiment*>",
    "Description": "Provides results from previous Bayesian Inference sampling experiments."
   },
   {
    "Name": [ "Conditional Priors" ],
    "Type": "std::vector<std::string>",
    "Description": "List of conditional priors to use in the hierarchical problem."
   }
 ]
}
