{

 "Configuration Settings":
 [
   {
    "Name": [ "Environment Count" ],
    "Type": "size_t",
    "Description": "The number of concurrent environments per generation."
   }
 ],

 "Termination Criteria":
 [
 ],

 "Variables Configuration":
 [
 ],
 
 "Internal Settings":
 [
 ],
 
 "Module Defaults":
 {
 },
 
 "Variable Defaults":
 {
 }
}
