{
 "Configuration Settings":
 [
   {
    "Name": [ "Integration Method Parameters" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Rectangle", 
                  "Description": "Uses the Rectangle Rule to perform the integral." 
                },
                { "Value": "Trapezoidal", 
                  "Description": "Uses the Trapezoidal Rule to perform the integral." 
                },
                { "Value": "Simpson", 
                  "Description": "Uses the Simpson Rule to perform the integral." 
                },
                { "Value": "Monte Carlo", 
                  "Description": "Uses Monte Carlo Integration to perform the integral." 
                }
               ],
    "Description": "Indicates the name of the integration method to use for the parameter integral."
   },
   {
    "Name": [ "Ny" ],
    "Type": "size_t",
    "Description": "Number of MC samples for the measurement integral."
   },
   {
    "Name": [ "Optimisation Method" ],
    "Type": "std::string",
    "Options": [
                { "Value": "CMA-ES", 
                  "Description": "Uses CMA-ES to perform the optimsation." 
                },
                { "Value": "Sequential Optimisation", 
                  "Description": "Uses a sequential optimisation with grid search for each recurrsion." 
                }
               ],
    "Description": "Indicates the name of the optimisation method to usefor the parameter integral."
   }
 ],

 "Termination Criteria":
 [
  
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
  {
   "Name": [ "Ntheta" ],
   "Type": "size_t",
   "Description": "Number of samples in the parameter space."
  },
  {
   "Name": [ "Correlation Matrix" ],
   "Type": "std::vector<std::vector<double>>",
   "Description": "Correlation Matrix."
  },
 ],

 "Module Defaults":
 {

 },

 "Variable Defaults":
 {

 }
}
