{
 "Configuration Settings":
 [
   {
    "Name": [ "Execution Model" ],
    "Type": "std::function<void(korali::Sample&)>",
    "Description": "Stores the function to evaluate."
   }
   {
    "Name": [ "Number of Samples" ],
    "Type": "size_t",
    "Description": "Number of samples to draw from Prior distribution."
   }
 ],

 "Module Defaults":
 {
   "Number of Samples": 0
 },

 "Compatible Solvers": [ "Executor" ],
   
 "Available Operations":
 [
  {
   "Name": "Execute" ,
   "Function": "execute",
   "Description": "Executes the given model using the parameters from the given sample."
  }
 ],

 "Variables Configuration":
 [
   {
    "Name": [ "Precomputed Values" ],
    "Type": "std::vector<double>",
    "Description": "Contains predetermined values for the variables to evaluate."
   },
   {
    "Name": [ "Prior Distribution" ],
    "Type": "std::string",
    "Description": "Indicates the name of the distribution to use as prior distribution."
   },
   {
    "Name": [ "Distribution Index" ],
    "Type": "size_t",
    "Description": "Stores the the index number of the selected prior distribution."
   }
 ]

}
