{
 "Configuration Settings":
 [
   {
    "Name": [ "Execution Model" ],
    "Type": "std::function<void(korali::Sample&)>",
    "Description": "Stores the function to evaluate."
   }
 ],

 "Compatible Solvers": [ "Executor" ],
   
 "Available Operations":
 [
  {
   "Name": "Execute" ,
   "Function": "execute",
   "Description": "Executes the given model using the parameters from the given sample."
  }
 ],

 "Variables Configuration":
 [
   {
    "Name": [ "Precomputed Values" ],
    "Type": "std::vector<double>",
    "Description": "Contains predetermined values for the variables to evaluate."
   }
 ]

}
