{
 "Configuration Settings": 
 [
   {
    "Name": [ "Executions Per Generation" ],
    "Type": "size_t",
    "Description": "Specifies the number of model executions per generation. By default this setting is 0, meaning that all executions will be performed in the first generation. For values greater 0, executions will be split into batches and split int generations for intermediate output."
   }
 ],
 
  "Internal Settings": 
 [
   {
    "Name": [ "Sample Count" ],
    "Type": "size_t",
    "Description": "Number of samples to execute."
   },
   {
    "Name": [ "Integral" ],
    "Type": "double",
    "Description": "Current value of the integral."
   },
   {
    "Name": [ "Indices Helper" ],
    "Type": "std::vector<size_t>",
    "Description": "Holds helper to calculate cartesian intdices from linear index."
   }
 ],
 
 "Module Defaults":
 {
   "Executions Per Generation": 500000000
 }
}

