{
 "Compatible Solvers": [ "MCMC", "TMCMC", "CMAES", "DEA", "LMCMAES" , "SAEM"],
 
 "Results":
 [
   {
    "Name": [ "Sample Database" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Collection of samples describing the probability distribution.",
    "Produced By": [ "MCMC", "TMCMC" ]
   },
   {
    "Name": [ "Best Sample" ],
    "Type": "korali::Sample",
    "Description": "Sample parameters that maximizes the posterior distribution.",
    "Produced By": [ "CMAES", "DEA", "LMCMAES" ]
   }
 ],
 
 "Available Operations":
 [
  {
   "Name": "Evaluate",
   "Description": "Evaluates a sample, given the problem description.",
   "Function": "evaluate"
  },
  {
   "Name": "Check Feasibility",
   "Description": "Determines whether a proposed sample is feasible, given the problem description.",
   "Function": "isSampleFeasible",
   "Results": [ { "Name": "Evaluation", "Description": "Contains a boolean indicating whether the sample is feasible or not." } ]
  },
  {
   "Name": "Evaluate logPrior",
   "Function": "evaluateLogPrior",
   "Description": "Evaluates the logPrior of the sample.",
   "Results": [ { "Name": "logPrior", "Description": "Contains a single number with the log prior evaluation of the sample." } ]
  },
  {
   "Name": "Evaluate logLikelihood",
   "Function": "evaluateLogLikelihood",
   "Description": "Evaluates the logLikelihood of the sample.",
   "Results": [ { "Name": "logLikelihood", "Description": "Contains a single number with the log likelihood evaluation of the sample." } ]
  },
  {
   "Name": "Evaluate logPosterior",
   "Function": "evaluateLogPosterior",
   "Description": "Evaluates the logLikelihood of the sample.",
   "Results": [ { "Name": "logPosterior", "Description": "Contains a single number with the log posterior evaluation of the sample." } ]
  }
 ],
 
 "Variables Configuration":
 [
   {
    "Name": [ "Prior Distribution" ],
    "Type": "std::string",
    "Description": "Indicates the name of the distribution to use as prior distribution."
   },
   {
    "Name": [ "Distribution Index" ],
    "Type": "size_t",
    "Description": "Stores the the index number of the selected prior distribution."
   }
 ],
 
 "Variable Defaults":
 {
  "Distribution Index" : 0
 }
}