{

 "Configuration Settings":
 [
   { 
    "Name": [ "Operation" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Train", "Description": "Perform the training process." },
                { "Value": "Forward", "Description": "Uses the training information to forward a new set of inputs and get their corresponding outputs." }
               ],
    "Description": "Indicates the type of learning stage to run."
   },
   { 
    "Name": [ "Optimizer" ],
    "Type": "std::string",
    "Options": [
                { "Value": "CMAES", "Description": "Uses the CMAES algorithm." },
                { "Value": "ADAM", "Description": "Uses the ADAM algorithm." }
               ],
    "Description": "Indicates the optimizer algorithm to use to optimize the NN's weights."
   },
   {
    "Name": [ "Layers" ],
    "Type": "std::vector<korali::Layer*>",
    "Description": "Complete description of the NN's layers."
   }
 ],

 "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [

 ],
 
 "Internal Settings":
 [

 ],
 
 "Module Defaults":
 {

 },
 
 "Variable Defaults":
 {
 
 }
}
