{

  "Configuration Settings":
  [
    {
      "Name": [ "Covariance Function" ],
      "Type": "std::string",
      "Description": "Covariance function for the libgp library."
    },
    {
      "Name": [ "Optimizer" ],
      "Type": "knlohmann::json",
      "Description": "Represents the state and configuration of the optimization algorithm."
    },
    {
      "Name": [ "Gaussian Process Json File" ],
      "Type": "std::string",
      "Description": "Json File from training a GP."
    }
  ],

  "Termination Criteria":
  [

  ],

  "Variables Configuration":
  [

  ],

  "Internal Settings":
  [
    {
      "Name": [ "gp Input Dimension" ],
      "Type": "size_t",
      "Description": "Dimension of the input space."
    },
    {
      "Name": [ "gp Parameter Dimension" ],
      "Type": "size_t",
      "Description": "Number of the Gaussian Process' parameters."
    }
  ],

  "Module Defaults":
  {
    "Termination Criteria":
    {
        "Max Generations": 1
    },
    "Gaussian Process Json File": ""
  },

  "Variable Defaults":
  {
  }

}
