{
 "Configuration Settings": 
 [
   {
    "Name": [ "Interpolation Strategy" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Nearest Neighbor", "Description": "Selects the value of the cost function of the interval closest to the given parameters." },
                { "Value": "Linear", "Description": "Interpolates the cost function of the interval in between given parameters." }
               ],
    "Description": "Determines how the cost function is evaluated given a point in between the discretized space."
   }
 ],
 
  "Internal Settings": 
 [
   {
    "Name": [ "Policy Collection" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Stores the all feasible policies."
   },
   {
    "Name": [ "Policy Evaluation" ],
    "Type": "std::vector<double>",
    "Description": "Stores the evaluation of all feasible policies."
   }
 ],
 
 "Termination Criteria":
 [
   {
    "Name": [ "Recursion Depth" ],
    "Type": "size_t",
    "Criteria": "_k->_currentGeneration > _recursionDepth",
    "Description": "Determines the number of stages to explore. Determines recursion depth."
   }
 ],
 
 
 "Variables Configuration":
 [
   {
    "Name": [ "Lower Bound" ],
    "Type": "double",
    "Description": "Lower bound for the parameter to discretize."
   },
   {
    "Name": [ "Upper Bound" ],
    "Type": "double",
    "Description": "Lower bound for the parameter to discretize."
   },
   {
    "Name": [ "Interval Count" ],
    "Type": "size_t",
    "Description": "Number of intervals by which to divide the exploration space."
   }
 ],
 
 "Module Defaults":
 {
 }
}
