{

 "Configuration Settings":
 [
   {
    "Name": [ "Number Of Sensors" ],
    "Type": "size_t",
    "Description": "Number of sensors to place."
   },
   {
    "Name": [ "Locations Per Variable" ],
    "Type": "std::vector<size_t>",
    "Description": "Number of locations for each variable used to describe the each Sensor."
   }
 ],

 "Termination Criteria":
 [
   
 ],

 "Variables Configuration":
 [
   
 ],
 
 "Internal Settings":
 [
   {
    "Name": [ "Number Of Locations" ],
    "Type": "size_t",
    "Description": "Total number of locations to place each Sensor (==samples per generation)."
   },
   {
    "Name": [ "Optimal Sensor Locations" ],
    "Type": "std::vector<std::vector<size_t>>",
    "Description": "Vector of vectors containing the optimal locations of the placed sensors."
   },
   {
    "Name": [ "Utility" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Matrix containing the utility function for every sensor."
   },
   {
    "Name": [ "Maximum Utility" ],
    "Type": "std::vector<double>",
    "Description": "Vector containing the maximum utility for every sensor."
   },
   {
    "Name": [ "Indices Helper" ],
    "Type": "std::vector<size_t>",
    "Description": "Holds helper to calculate cartesian indices from linear index."
   }
 ],
 
 "Module Defaults":
 {
   
 },
 
 "Variable Defaults":
 {
  
 }
}
