{
 "Configuration Settings":
 [
   {
    "Name": [ "Objective Function" ],
    "Type": "std::function<void(korali::Sample&)>",
    "Description": "Stores the function to evaluate."
   },
   {
    "Name": [ "Constraints" ],
    "Type": "std::vector<std::function<void(korali::Sample&)>>",
    "Default": "std::vector<std::uint64_t>(0)",
    "Description": "Stores constraints to the objective function."
   }
 ],
 
 "Compatible Solvers": [ "Optimizer" ],
 
 "Available Operations":
 [
  {
    "Name": "Evaluate",
    "Description": "Evaluates a sample, given the problem description.",
    "Function": "evaluate"
  },
  {
    "Name": "Evaluate With Gradients",
    "Description": "Evaluates a sample and its gradient, given the problem description.",
    "Function": "evaluateWithGradients"
  },
  {
   "Name": "Evaluate Constraints",
   "Function": "evaluateConstraints", 
   "Description": "Evaluates the feasibility of a sample, given the described constraints."
  }
 ],

 "Variables Configuration":
 [
  {
   "Name": [ "Granularity" ],
   "Type": "double",
   "Description": "Specifies the granularity of a discrete variable, a granularity of 1.0 means that the variable can only take values in (.., -1.0, 0.0, +1.0, +2.0, ..) where the levels are set symmetric around the initial mean (here 0.0)."
  }
 ],

 "Internal Settings":
 [
   {
    "Name": [ "Has Discrete Variables" ],
    "Type": "bool",
    "Description": "Flag indicating if at least one of the variables is discrete."
   }
 ],
 
 "Module Defaults":
 {
  "Has Discrete Variables": false,
  "Constraints": [ ]
 },
 
 "Variable Defaults":
 {
  "Granularity": 0.0
 }
}
