{
 "Configuration Settings":
 [
   {
    "Name": [ "Objective Function" ],
    "Type": "std::function<void(korali::Sample&)>",
    "Description": "Stores the function to evaluate."
   },
   {
    "Name": [ "Constraints" ],
    "Type": "std::vector<std::function<void(korali::Sample&)>>",
    "Default": "std::vector<std::uint64_t>(0)",
    "Description": "Stores constraints to the objective function."
   }
 ],

 "Available Operations":
 [
  {
   "Name": "Basic Evaluation",
   "Description": "Evaluates a sample, given the problem description.",
   "Function": "basicEvaluation",
   "Results": [ { "Name": "Evaluation", "Description": "Contains a single number with the sample evaluation." } ]
  },
  {
   "Name": "Check Feasibility",
   "Description": "Determines whether a proposed sample is feasible, given the problem description.",
   "Function": "isSampleFeasible",
   "Results": [ { "Name": "Evaluation", "Description": "Contains a boolean indicating whether the sample is feasible or not." } ]
  },
  {
   "Name": "Evaluate Constraints",
   "Function": "evaluateConstraints", 
   "Description": "Evaluates the feasibility of a sample, given the described constraints.",
   "Results": [ { "Name": "Constraint Evaluation", "Description": "Contains the evaluation of all constraints given a sample." } ]
  }
 ],

 "Variables Configuration":
 [
  {
   "Name": [ "Lower Bound" ],
   "Type": "double",
   "Default": "-INFINITY",
   "Description": "Specifies the lower bound for the variable's value."
  },
  {
   "Name": [ "Upper Bound" ],
   "Type": "double",
   "Default": "+INFINITY",
   "Description": "Specifies the upper bound for the variable's value."
  },
  {
   "Name": [ "Granularity" ],
   "Type": "double",
   "Default": "0.0",
   "Description": "Specifies the granularity of a discrete variable, a granularity of 1.0 means that the variable can only take values in (.., -1.0, 0.0, +1.0, +2.0, ..) where the levels are set symmetric around the initial mean (here 0.0)."
  }
 ],

 "Internal Settings":
 [
   {
    "Name": [ "Has Discrete Variables" ],
    "Type": "bool",
    "Description": "Flag indicating if at least one of the variables is discrete."
   }
 ],
 
 "Module Defaults":
 {
  "Constraints": [ ],
  "Has Discrete Variables": false
 },
 
 "Variable Defaults":
 {
  "Lower Bound": -Infinity,
  "Upper Bound": Infinity,
  "Granularity": 0.0
 }
}
