{

 "Configuration Settings":
 [
   { 
    "Name": [ "Engine Kind" ],
    "Type": "std::string",
    "Options": [
                { "Value": "CPU", "Description": "Uses the host CPU processor." },
                { "Value": "GPU", "Description": "Uses the host GPU device." }
               ],
    "Description": "Indicates which processor to use for NN operations."
   },
   {
    "Name": [ "Layers" ],
    "Type": "std::vector<korali::Layer*>",
    "Description": "Complete description of the NN's layers."
   },
   {
    "Name": [ "Solution" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "The actual solution data for trainin/validation, to compare to the NN outputs."
   },
   {
    "Name": [ "Optimizer" ],
    "Type": "knlohmann::json",
    "Description": "Represents the state and configuration of the solver algorithm."
   }
 ],

 "Internal Settings": 
 [
   {
    "Name": [ "Best Sample" ],
    "Type": "korali::Sample",
    "Description": "Sample information of the best result from the optimizer."
   },
   {
    "Name": [ "Current Training Loss" ],
    "Type": "double",
    "Description": "Current value of the training loss."
   }
 ],
 
 "Module Defaults":
 { 
    "Engine Kind": "CPU",
    "Solution": []
 }
 
}
