{

 "Configuration Settings":
 [
   { 
    "Name": [ "Engine Kind" ],
    "Type": "std::string",
    "Options": [
                { "Value": "CPU", "Description": "Uses the host CPU processor." },
                { "Value": "GPU", "Description": "Uses the host GPU device." }
               ],
    "Description": "Indicates which processor to use for NN operations."
   },
   {
    "Name": [ "Layers" ],
    "Type": "std::vector<korali::Layer*>", 
    "Description": "Complete description of the NN's layers."
   },
   {
    "Name": [ "Batch Size" ],
    "Type": "size_t",
    "Description": "Indicates the number of input sets will be provided as input batch."
   },
   {
    "Name": [ "Batch Normalization",  "Enabled" ],
    "Type": "bool",
    "Description": "Defines whether to perform layer normalization."
   },
   {
    "Name": [ "Batch Normalization", "Epsilon" ],
    "Type": "double",
    "Description": "Epsilon is a constant to improve numerical stability during normalization."
   },
   {
    "Name": [ "Batch Normalization", "Use Global Stats" ],
    "Type": "bool",
    "Description": "Specifies whether the mean and variance for each layer is given, or calculated upon normalization."
   }
 ],

 "Internal Settings": 
 [
   {
    "Name": [ "Current Training Loss" ],
    "Type": "double",
    "Description": "Current value of the training loss."
   },
   {
    "Name": [ "Has Performed Forward Propagation" ],
    "Type": "bool",
    "Description": "Flag to make sure we do not backpropagate without running forward first."
   },
   { 
    "Name": [ "Output Values" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Stores a batch of values for the NN's output."
   },
   { 
    "Name": [ "Input Gradient" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Stores the gradient of the input with respect to the output for all the entries in the batch."
   },
   {
    "Name": [ "Xavier Generator" ],
    "Type": "korali::distribution::univariate::Uniform*",
    "Description": "Uniform random number generator for setting the initial value of the weights and biases based on the Xavier algorithm."
   }
 ],
 
 "Module Defaults": 
 { 
    "Engine Kind": "CPU",
    "Input Values": [ ],
    "Has Performed Forward Propagation": false,
    
    "Batch Normalization":
    {
     "Enabled": false,
     "Epsilon": 1e-10,
     "Use Global Stats": false
    },
    
    "Xavier Generator":
    {
     "Type": "Univariate/Uniform",
     "Minimum": -1.0,
     "Maximum": 1.0
    }
 }
 
}
