{

 "Configuration Settings":
 [
   { 
    "Name": [ "Engine Kind" ],
    "Type": "std::string",
    "Options": [
                { "Value": "CPU", "Description": "Uses the host CPU processor." },
                { "Value": "GPU", "Description": "Uses the host GPU device." }
               ],
    "Description": "Indicates which processor to use for NN operations."
   },
   {
    "Name": [ "Layers" ],
    "Type": "std::vector<korali::Layer*>",
    "Description": "Complete description of the NN's layers."
   },
   {
    "Name": [ "Batch Input Normalization",  "Enabled" ],
    "Type": "bool",
    "Description": "Defines whether to perform batch input normalization."
   },
   {
    "Name": [ "Batch Input Normalization",  "Shift" ],
    "Type": "std::vector<double>",
    "Description": "How much the values of the input batch should be shifted during normalization."
   },
   {
    "Name": [ "Batch Input Normalization",  "Scale" ],
    "Type": "std::vector<double>",
    "Description": "How much the values of the input batch should be scaled during normalization."
   },
   {
    "Name": [ "Batch Input Normalization", "Epsilon" ],
    "Type": "double",
    "Description": "Epsilon is a constant to improve numerical stability during normalization."
   },
   {
    "Name": [ "Batch Input Normalization", "Means" ],
    "Type": "std::vector<double>",
    "Description": "Adjustment mean for normalized input."
   },
   {
    "Name": [ "Batch Input Normalization", "Variances" ],
    "Type": "std::vector<double>",
    "Description": "Adjustment variance for normalized input."
   }
 ],

 "Internal Settings": 
 [
   {
    "Name": [ "Current Training Loss" ],
    "Type": "double",
    "Description": "Current value of the training loss."
   },
   {
    "Name": [ "Has Performed Forward Propagation" ],
    "Type": "bool",
    "Description": "Flag to make sure we do not backpropagate without running forward first."
   },
   { 
    "Name": [ "Output Values" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Stores a batch of values for the NN's output."
   },
   { 
    "Name": [ "Input Gradient" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Stores the gradient of the input with respect to the output for all the entries in the batch."
   }
 ],
 
 "Module Defaults": 
 { 
    "Engine Kind": "CPU",
    "Input Values": [ ],
    "Has Performed Forward Propagation": false,
    "Batch Input Normalization":
    {
     "Enabled": false,
     "Means": [],
     "Variances": [],
     "Shift": [],
     "Scale": [],
     "Epsilon": 1e-10
    }
 }
 
}
