{
 "Configuration Settings":
 [
   {
    "Name": [ "Computational Model" ],
    "Type": "std::function<void(korali::Sample&)>",
    "Description": "Stores the computational model. It should the evaluation of the model at the given reference data points."
   },
   {
    "Name": [ "Reference Data" ],
    "Type": "std::vector<double>",
    "Description": "Reference data required to calculate likelihood. Model evaluations are compared against these data."
   },
   {
    "Name": [ "Likelihood Model" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Additive Normal", "Description": "Uses an additive normal distribution to produce the likelihood." },
                { "Value": "Additive Normal Variance", "Description": "Uses an additive normal distribution, and variance instead of standard deviation,  to produce the likelihood." },
                { "Value": "Multiplicative Normal", "Description": "Uses a multipicative normal distribution to produce the likelihood." },
                { "Value": "Multiplicative Normal Data", "Description": "Uses an multiplicative normal distribution (data) to produce the likelihood." },
                { "Value": "Normal", "Description": "The user specifies the mean and the variance values of the normal likelihood." },
                { "Value": "Negative Binomial", "Description": "The user specifies the mean and the r parameter of the Negative Binomial distribution." },
                { "Value": "Positive Normal", "Description": "The user specifies the mean and the standard deviations of the truncated normal on [0,infty]" }
               ],
    "Description": "Specifies the likelihood model to approximate the reference data to."
  }
 ],

 "Internal Settings":
 [
   {
     "Name": ["Negative Binomial Constant"],
     "Type": "double",
     "Description": "Negative sum of the log-gamma of the observations."
   }
 ]
}
