{

 "Configuration Settings":
 [
   {
    "Name": [ "Learning Rate" ],
    "Type": "double",
    "Description": "Learning rate for Q-learning algorithm."
   },
   {
    "Name": [ "Discount Factor" ],
    "Type": "double",
    "Description": "Discount Factor for Q-learning algorithm."
   },
   {
    "Name": [ "Initial Q Value" ],
    "Type": "double",
    "Description": "Defines the initial value for all entries of the Q table. It is recommended to set this value equal to the maximum model reward."
   }
 ],

 "Termination Criteria":
 [
  {
    "Name": [ "Convergence Tolerance" ],
    "Type": "double",
    "Criteria": "_convergenceRate < _convergenceTolerance",
    "Description": "The solver will stop when convergence rate falls below this threshold."
  }
 ],

 "Variables Configuration":
 [
 ],
 
 "Internal Settings":
 [
   {
    "Name": [ "Q" ],
    "Type": "std::vector<double>",
    "Description": "Table containing Q values."
   },
   {
    "Name": [ "Convergence Rate" ],
    "Type": "double",
    "Description": "The rate at which the Q table has changed during this generation."
   }
 ],
 
 "Module Defaults":
 {
  "Learning Rate": 0.1,
  "Discount Factor": 0.1,
  
  "Termination Criteria":
  {
   "Convergence Tolerance": 0.01
  },
  
  "Convergence Rate": Infinity
 },
 
 "Variable Defaults":
 {
 }
}
