{

   "Results":
 [
   {
    "Name": [ "Sample Database" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Collection of samples describing the probability distribution.",
    "Produced By": [ "SAEM" ]
   }
 ],


 "Available Operations":
 [
  {
   "Name": "Evaluate",
   "Description": "Evaluates a sample, given the problem description.",
   "Function": "evaluate"
  },
  {
   "Name": "Check Feasibility",
   "Description": "Determines whether a proposed sample is feasible, given the problem description.",
   "Function": "isSampleFeasible",
   "Results": [ { "Name": "Evaluation", "Description": "Contains a boolean indicating whether the sample is feasible or not." } ]
  },
  {
   "Name": "Evaluate logPrior",
   "Function": "evaluateLogPrior",
   "Description": "Evaluates the logPrior of the sample.",
   "Results": [ { "Name": "logPrior", "Description": "Contains a single number with the log prior evaluation of the sample." } ]
  },
  {
   "Name": "Evaluate logLikelihood",
   "Function": "evaluateLogLikelihood",
   "Description": "Evaluates the logLikelihood of the sample.",
   "Results": [ { "Name": "logLikelihood", "Description": "Contains a single number with the log likelihood evaluation of the sample." } ]
  },
  {
   "Name": "Evaluate logPosterior",
   "Function": "evaluateLogPosterior",
   "Description": "Evaluates the logLikelihood of the sample.",
   "Results": [ { "Name": "logPosterior", "Description": "Contains a single number with the log posterior evaluation of the sample." } ]
  }
 ],

  "Configuration Settings":
 [
 ],





 "Variables Configuration":
 [
   {
    "Name": [ "Bayesian Type" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Latent", "Description": "The variable is part of the sample processed by the model, but we are not given values for it." },
                { "Value": "Hyperparameter", "Description": "The variable is used by the likelihood model as statistical parameter." }
               ],
    "Description": "Specifies the purpose of the variable for the bayesian model."
   },
   {
     "Name": ["Upper Bound"],
     "Type": "double",
     "Description": "Upper limit for this variable; only needed for Hyperparameters. Used when optimizing for psi (the hyperparameters) in the M-step."
   },
   {
     "Name": ["Lower Bound"],
     "Type": "double",
     "Description": "Lower limit for this variable; only needed for Hyperparameters. Used when optimizing for psi (the hyperparameters) in the M-step."
   }
 ],

   "Internal Settings":
 [
   {
     "Name": "Latent Variable Indices",
     "Type": "std::vector<size_t>",
     "Description": "Indices to find the latent variables among all variables"
   },
   {
     "Name": "Hyperparameter Variable Indices",
     "Type": "std::vector<size_t>",
     "Description": "Indices to find the hyperparameters among all variables"
   }
 ],

 "Module Defaults":
 {
    "Latent Variable Sampler": "nullptr"
 },

 "Variable Defaults":
 {
  "Lower Bound": -1.0,
  "Upper Bound": -1.0
 }


}
