{

   "Results":
 [
   {
    "Name": [ "Sample Database" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Collection of samples describing the probability distribution.",
    "Produced By": [ "SAEM" ]
   }
 ],

  "Configuration Settings":
 [
   {
    "Name": [ "S Of Likelihood Model" ],
    "Type": "std::function<void(korali::Sample&)>",
    "Description": "Utilizes parameters set for the sample: 'Latent Variables'. Needs to set parameter: 'S'.  Note for the following: The Latent problem does not know about 'data'; any data needs to be inserted into S beforehand. -- Functions S, zeta and phi together compose the user-defined log-likelihood model, as p(data, psi | theta) = exp{ -zeta(theta) + < S(data, psi), phi(theta) > }, where <., .> is the Euclidean scalar product. (We require a distribution from the exponential family.) The distribution can be unnormalized. It should return the value of the Log Likelihood of a given data sample, given latent variables psi and hyperparameters theta."

   },
   {
    "Name": [ "Zeta Of Likelihood Model" ],
    "Type": "std::function<void(korali::Sample&)>",
     "Description": "Utilizes parameters set for the sample: 'Hyperparameters'. Needs to set parameter: 'zeta'. Functions S, zeta and phi together compose the user-defined log-likelihood model, as p(data, psi | theta) = exp{ -zeta(theta) + < S(data, psi), phi(theta) > }, where <., .> is the Euclidean scalar product. (We require a distribution from the exponential family.) The distribution can be unnormalized. It should return the value of the Log Likelihood of a given data sample and given latent variables psi."
  },
   {
    "Name": [ "Phi Of Likelihood Model" ],
    "Type": "std::function<void(korali::Sample&)>",
    "Description": "Utilizes parameters set for the sample:  'Hyperparameters'. Needs to set parameter: 'phi'. Functions S, zeta and phi together compose the user-defined log-likelihood model, as p(data, psi | theta) = exp{ -zeta(theta) + < S(data, psi), phi(theta) > }, where <., .> is the Euclidean scalar product. (We require a distribution from the exponential family.) The distribution can be unnormalized. It should return the value of the Log Likelihood of a given data sample and given latent variables psi."
 },
      {
     "Name": ["S Dimension"],
     "Type": "int",
     "Description": "Dimensionality of the vectors S and phi."
   }

 ],



 "Variables Configuration":
 [
   {
    "Name": [ "Bayesian Type" ],
    "Type": "std::string",
    "Default": "Hyperparameter",
    "Options": [
                { "Value": "Latent", "Description": "The variable is part of the sample processed by the model, but we are not given values for it." },
                { "Value": "Hyperparameter", "Description": "The variable is used by the likelihood model as statistical parameter." }
               ],
    "Description": "Specifies the purpose of the variable for the bayesian model."
   },
   {
     "Name": ["Upper Bound"],
     "Type": "double",
     "Description": "Upper limit for this variable; only needed for Hyperparameters. Used when optimizing for psi (the hyperparameters) in the M-step."
   },
   {
     "Name": ["Lower Bound"],
     "Type": "double",
     "Description": "Lower limit for this variable; only needed for Hyperparameters. Used when optimizing for psi (the hyperparameters) in the M-step."
   }
 ],

   "Internal Settings":
 [
 ],

 "Module Defaults":
 {
 },

 "Variable Defaults":
 {
  "Lower Bound": -1.0,
  "Upper Bound": -1.0
 }


}
