{

 "Configuration Settings":
 [
   { 
    "Name": [ "Optimizer" ],
    "Type": "std::string",
    "Options": [
                { "Value": "CMAES", "Description": "Uses the CMAES algorithm." },
                { "Value": "ADAM", "Description": "Uses the ADAM algorithm." }
               ],
    "Description": "Indicates the optimizer algorithm to use to optimize the NN's weights."
   },
   { 
    "Name": [ "Neural Network" ],
    "Type": "korali::NeuralNetwork*",
    "Description": "Indicates the configuration of the underlying neural network to use."
   },
   { 
    "Name": [ "Weight Initialization" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Zero", "Description": "All weights are initialized to zero." },
                { "Value": "Xavier", "Description": "Uses the Xavier initialization function." }
               ],
    "Description": "Indicates the method to use to initialize the NN's weights."
   }
 ],

 "Termination Criteria":
 [
  {
    "Name": [ "Cross Validation Threshold" ],
    "Type": "double", 
    "Criteria": "_crossValidationThreshold < (_currentAverageValidationLoss - _previousAverageValidationLoss)",
    "Description": "The solver will stop when the running average validation loss increases with respect to the previous average."
  }
 ],

 "Variables Configuration":
 [

 ],
 
 "Internal Settings":
 [
  {
    "Name": [ "Training Validation Loss" ],
    "Type": "double",
    "Description": "Latest value of the training loss."
   },
   {
    "Name": [ "Current Average Validation Loss" ],
    "Type": "double",
    "Description": "Current running average of the validation loss."
   },
   {
    "Name": [ "Previous Average Validation Loss" ],
    "Type": "double",
    "Description": "Previous running average of the validation loss."
   }
 ], 
 
 "Module Defaults":
 {
  
  "Current Average Validation Loss": Infinity,
  "Previous Average Validation Loss": Infinity,
  "Weight Initialization": "Xavier",
  "Neural Network":   { "Type": "Neural Network" },
  "Termination Criteria":
  {
   "Cross Validation Threshold": 0.0
  }
 },
 
 "Variable Defaults":
 {

 }
}
