{

 "Configuration Settings":
 [
   { 
    "Name": [ "Neural Network" ],
    "Type": "korali::NeuralNetwork*",
    "Description": "Indicates the configuration of the underlying neural network to use."
   }
 ], 

 "Termination Criteria":
 [
 
 ],
 
 "Variables Configuration":
 [

 ],
 
 "Internal Settings":
 [
 
 ], 
 
 "Module Defaults":
 {
  "Neural Network":   { "Type": "Neural Network" }
 },
 
 "Variable Defaults":
 {

 }
}
