{

 "Configuration Settings":
 [
  {
    "Name": [ "Neural Network" ],
    "Type": "korali::NeuralNetwork*",
    "Description": "Indicates the configuration of the underlying neural networks to use."
  },
  { 
    "Name": [ "Weight Initialization" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Zero", "Description": "All weights and biases are initialized to zero." },
                { "Value": "Xavier", "Description": "Uses the Xavier initialization function." }
               ],
    "Description": "Indicates the method to use to initialize the NN's weights."
   },
   {
    "Name": [ "Optimizer" ],
    "Type": "knlohmann::json",
    "Description": "Represents the state and configuration of the solver algorithm."
   },
   {
    "Name": [ "Steps Per Generation" ],
    "Type": "size_t",
    "Description": "Represents the number of opitmization steps to run per each generation."
   }
 ],

 "Results":
 [
 
 ],
 
 "Termination Criteria":
 [
  {
    "Name": [ "Max Inactive Steps" ],
    "Type": "size_t",
    "Criteria": "_currentInactiveSteps >= _maxInactiveSteps",
    "Description": "The solver will stop when the given number of steps have passed without a decrese in the lowest validation loss."
  }
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
  {
   "Name": [ "Current Training Loss" ],
   "Type": "double",
   "Description": "Current value of the training loss."
  },
  {
   "Name": [ "Current Validation Loss" ],
   "Type": "double",
   "Description": "Current value of the validation loss."
  },
  {
   "Name": [ "Lowest Validation Loss" ],
   "Type": "double",
   "Description": "Value of the lowest validation loss."
  },
  {
    "Name": [ "Current Inactive Steps" ],
    "Type": "size_t",
    "Description": "current number of steps without a decrese in the lowest validation loss."
  },
  {
    "Name": [ "Training Neural Network" ],
    "Type": "korali::NeuralNetwork*",
    "Description": "The NN to use for training."
  },
  {
    "Name": [ "Validation Neural Network" ],
    "Type": "korali::NeuralNetwork*",
    "Description": "The NN to use for validation."
  },
  {
    "Name": [ "Uniform Generator" ],
    "Type": "korali::distribution::univariate::Uniform*",
    "Description": "Uniform random number generator for setting the initial value of the weights and biases."
   }
 ],

 "Module Defaults":
 {
  "Validation Neural Network": { "Type": "Neural Network" },
  "Lowest Validation Loss": Infinity,
  "Neural Network":   { "Type": "Neural Network" },
  "Current Inactive Steps": 0,
  "Weight Initialization": "Xavier",
  "Termination Criteria": { "Max Inactive Steps": 20 },
  "Steps Per Generation": 1,
  "Uniform Generator":
   {
    "Type": "Univariate/Uniform",
    "Minimum": -1.0,
    "Maximum": 1.0
   }
 },

 "Variable Defaults":
 {

 }
}
