{
 "Configuration Settings":
 [
   { 
    "Name": [ "Node Count" ],
    "Type": "size_t",
    "Description": "Indicates the node count of the current layer."
   },
   { 
    "Name": [ "Activation Function" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Identity", "Description": "Forwards the output values values unaltered." },
                { "Value": "SoftSign", "Description": "Applies the softsign function." },
                { "Value": "SoftMax", "Description": "Applies the softsign function." },
                { "Value": "ReLU", "Description": "Applies a rectifier linear unit function." }
               ],
    "Description": "Indicates the activation function for the weighted inputs to the current layer."
   }
 ],
 
 "Module Defaults":
 {
 }
}
