{
 "Configuration Settings":
 [
   { 
    "Name": [ "Node Count" ],
    "Type": "size_t",
    "Description": "Indicates the node count of the current layer."
   },
   { 
    "Name": [ "Weights" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Indicates the weights to apply for the inner product operation. It must be of size KxN, where K is the number of nodes in the previous layer, and N is the number of nodes of the current layer."
   },
   { 
    "Name": [ "Bias" ],
    "Type": "std::vector<double>",
    "Description": "A collection of bias for each of the layer nodes."
   },
   { 
    "Name": [ "Activation Function" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Identity", "Description": "Forwards the output values values unaltered." },
                { "Value": "SoftSign", "Description": "Applies the softsign function." },
                { "Value": "SoftMax", "Description": "Applies the softsign function." },
                { "Value": "ReLU", "Description": "Applies a rectifier linear unit function." }
               ],
    "Description": "Indicates the activation function for the weighted inputs to the current layer."
   }
 ],
 
 "Module Defaults":
 {
   "Weights": [ ],
   "Bias": [ ]
 }
}
