{
 "Configuration Settings":
 [
   { 
    "Name": [ "Node Count" ],
    "Type": "size_t",
    "Description": "Indicates the node count of the current layer."
   },
   { 
    "Name": [ "Weights" ],
    "Type": "std::vector<double>",
    "Description": "Indicates the weights (MxN) to apply to all the inputs (M) for all the nodes (N)."
   },
   { 
    "Name": [ "Activation Function" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Identity", "Description": "Forwards the output values values unaltered." },
                { "Value": "SoftSign", "Description": "Applies the softsign function to the node outputs." },
                { "Value": "SoftMax", "Description": "Applies the softsign function to the node outputs." }
               ],
    "Description": "Indicates the activation function for the output of the current layer."
   }
 ],
 
 "Module Defaults":
 {
  "Weights": [ ]
 }
}
