{

 "Configuration Settings":
 [
   {
    "Name": [ "Example Setting 1" ],
    "Type": "double",
    "Description": "Example numeric setting."
   },
   {
    "Name": [ "Example Setting 2" ],
    "Type": "std::string",
    "Description": "Example string setting."
   },
   {
    "Name": [ "Example Setting 3" ],
    "Type": "bool",
    "Description": "Example boolean setting."
   },
   {
    "Name": [ "Example Setting 4" ],
    "Type": "std::string",
    "Options": [
                { "Value": "Option 1", "Description": "Takes option 1." },
                { "Value": "Option 2", "Description": "Takes option 2." },
                { "Value": "Option 3", "Description": "Takes option 3." }
               ],
    "Description": "Example setting with 3 options."
   },
   {
    "Name": [ "Example Setting 5" ],
    "Type": "size_t",
    "Description": "Example unsigned integer setting."
   },
   {
    "Name": [ "Example Setting 6" ],
    "Type": "std::vector<double>",
    "Description": "Example vector of doubles setting."
   },
 ],

 "Termination Criteria":
 [
   {
    "Name": [ "Example Criterion 1" ],
    "Type": "double",
    "Criteria": "_exampleCriterion1 >= _exampleSetting1",
    "Description": "If the criteria is met, then Korali will stop execution."
   }
 ]

 "Variables Configuration":
 [
   {
    "Name": [ "Variable Property 1" ],
    "Type": "size_t",
    "Description": "Example property for all experiment's variables."
   }
 ],
 
 "Internal Settings":
 [
   {
    "Name": [ "Internal Setting 1" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Internal Setting."
   }
 ],
 
 "Module Defaults":
 {
   "Example Setting 1": 3.14,
   "Example Setting 2": "Hello, World!",
   "Example Setting 3": True,
   "Example Setting 4": "Option 2",
   "Example Setting 5": 510,
   "Example Setting 6": [ 1.00, 2.00, 3.00 ],
   
   "Internal Setting 1": [ [ 0 ], [ 0 ] ],
   
   "Termination Criteria":
    {
     "Example Criterion 1": 5.0
    }
 },
 
 "Variable Defaults":
 {
  "Variable Property 1": 42 
 }
}
