{

 "Configuration Settings":
 [
   
 ],

 "Termination Criteria":
 [
   
 ],

 "Variables Configuration":
 [

 ],
 
 "Internal Settings":
 [
   {
    "Name": [ "Number Of Values" ],
    "Type": "size_t",
    "Description": "Total number of locations to evaluate (==samples per generation)."
   },
   {
    "Name": [ "Objective" ],
    "Type": "std::vector<double>",
    "Description": "Vector containing values of the Objective Function."
   },
   {
    "Name": [ "Maximum" ],
    "Type": "double",
    "Description": "Found maximum value of the Objective Function."
   },
   {
    "Name": [ "Location Of Maximum" ],
    "Type": "std::vector<double>",
    "Description": "Holds the location of the maximum."
   },
   {
    "Name": [ "Index Helper" ],
    "Type": "std::vector<size_t>",
    "Description": "Holds helper to calculate cartesian indices from linear index."
   }
 ],
 
 "Module Defaults":
 {
   
 },
 
 "Variable Defaults":
 {
  
 }
}
