{
 "Configuration Settings":
 [
 
 ],

 "Variables Configuration":
 [
  {
   "Name": [ "Environments Per Generation" ],
   "Type": "size_t",
   "Description": "Specifies the number of concurrent environments to run on each learning generation."
  }
 ],

 "Internal Settings":
 [
   {
    "Name": [ "Best Reward" ],
    "Type": "double",
    "Description": "The reward that the best policy so far obtains."
   },
   {
    "Name": [ "Best Policy Actions" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Stores the action history for policy that produced the best reward."
   },
   {
    "Name": [ "Best Policy States" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Stores the state history for policy that produced the best reward."
   }
 ],
 
 "Module Defaults":
 {
  "Environments Per Generation": 1,
  "Best Reward": -Infinity
 },
 
 "Variable Defaults":
 {
 }
}
