{

 "Configuration Settings":
 [
 ],

 "Termination Criteria":
 [

 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
   {
    "Name": [ "Hyperparameters" ],
    "Type": "knlohmann::json",
    "Description": "Represents the minimal set of learned hyperparameters that allow the production of outputs based on the evaluation of new inputs."
   }
 ],

 "Module Defaults":
 {
 
 }
}
