{
 "Configuration Settings":
 [
  {
   "Name": [ "Agent Count" ],
   "Type": "size_t",
   "Description": "Specifies the number of concurrent agents to run on each generation."
  }
 ],

 "Variables Configuration":
 [

 ],

 "Internal Settings":
 [
   {
    "Name": [ "Best Reward" ],
    "Type": "double",
    "Description": "The reward that the best policy so far obtains."
   },
   {
    "Name": [ "Best Policy Actions" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Stores the action history for policy that produced the best reward."
   },
   {
    "Name": [ "Best Policy States" ],
    "Type": "std::vector<std::vector<double>>",
    "Description": "Stores the state history for policy that produced the best reward."
   }
 ],
 
 "Module Defaults":
 {
  "Agent Count": 1,
  "Best Reward": -Infinity,
  "Best Policy Actions": [ ],
  "Best Policy States": [ ]
 },
 
 "Variable Defaults":
 {
 }
}
